# Using the CRISP-DM to investigate the indian ecosystem and to propose the best indian start-up to invest

## Description
The objective of this project is to analyse the indian start-up investment data over the course of four years (2018-2021) to find out which funding stages are very attractive to investors and at what risk level.

## Null Hypothesis 
Is start-up investments a good venture? ## Average investment is the same across all the Sectors?

# Alternate Hypo
Average investment varies???

## Analytical Questions
1. How many companies need funding and are at what level of funding ?
2. Why are the companies not moving into IPOs?
3. Which cities have the highest number of startups and at what levels?
4. Which startup venture is green?
5. How many years have these startups been in existence and how

# GOAL
`
The goal of this project is to propose the best indian start-up to invest.

In [5]:
#Libraries imported
import MySQLdb
import sqlalchemy as sa
import pyodbc     
from dotenv import dotenv_values    #import the dotenv_values function from the dotenv package
import pandas as pd
import warnings

In [6]:
env_variables= dotenv_values('logins.env')
database= env_variables.get('database')
server = env_variables.get('server')
username = env_variables.get('username')
password = env_variables.get('password')

# Data Understanding

- There are three data sources to work with (2 SQL and 1 CSV)
- Explore data
- Verify data quality

### Connecting to the dapDB to extract the 2020 and 2021 data

In [7]:
#Connecting to the database to analyse the 2020-2021 data

connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"
connection = pyodbc.connect(connection_string)

In [8]:
#query the 2020 startup funding data

query = "SELECT * FROM LP1_startup_funding2020"

data_2020 = pd.read_sql(query, connection)
data_2020.columns

c:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'column10'],
      dtype='object')

In [9]:
data_2020.Amount.unique()

array([2.0000000e+05, 1.0000000e+05,           nan, 4.0000000e+05,
       3.4000000e+05, 6.0000000e+05, 4.5000000e+07, 1.0000000e+06,
       2.0000000e+06, 1.2000000e+06, 6.6000000e+08, 1.2000000e+05,
       7.5000000e+06, 5.0000000e+06, 5.0000000e+05, 3.0000000e+06,
       1.0000000e+07, 1.4500000e+08, 1.0000000e+08, 2.1000000e+07,
       4.0000000e+06, 2.0000000e+07, 5.6000000e+05, 2.7500000e+05,
       4.5000000e+06, 1.5000000e+07, 3.9000000e+08, 7.0000000e+06,
       5.1000000e+06, 7.0000000e+08, 2.3000000e+06, 7.0000000e+05,
       1.9000000e+07, 9.0000000e+06, 4.0000000e+07, 7.5000000e+05,
       1.5000000e+06, 7.8000000e+06, 5.0000000e+07, 8.0000000e+07,
       3.0000000e+07, 1.7000000e+06, 2.5000000e+06, 4.0000000e+04,
       3.3000000e+07, 3.5000000e+07, 3.0000000e+05, 2.5000000e+07,
       3.5000000e+06, 2.0000000e+08, 6.0000000e+06, 1.3000000e+06,
       4.1000000e+06, 5.7500000e+05, 8.0000000e+05, 2.8000000e+07,
       1.8000000e+07, 3.2000000e+06, 9.0000000e+05, 2.5000000e+05,
       4.7000000e+06, 7.5000000e+07, 8.0000000e+06, 1.2100000e+08,
       5.5000000e+07, 3.3000000e+06, 1.1000000e+07, 1.6000000e+07,
       5.4000000e+06, 1.5000000e+08, 4.2000000e+06, 2.2000000e+07,
       5.2000000e+07, 1.1000000e+06, 1.1800000e+08, 1.6000000e+06,
       1.8500000e+07, 7.0000000e+10, 8.0000000e+08, 4.0000000e+08,
       1.5000000e+05, 1.7600000e+08, 6.0000000e+07, 4.7000000e+05,
       2.4000000e+05, 3.0000000e+09, 7.4000000e+07, 6.2000000e+07,
       2.1000000e+06, 5.0000000e+08, 1.2500000e+07, 2.2000000e+09,
       5.0600000e+06, 2.2500000e+08, 2.4700000e+07, 7.7000000e+06,
       1.9067328e+07, 5.1000000e+07, 1.1500000e+05, 5.4000000e+04,
       2.0000000e+04, 8.0314600e+05, 2.3800000e+05, 1.0220000e+07,
       1.0200000e+06, 1.2000000e+07, 1.3400000e+07, 1.7000000e+08,
       2.9000000e+06, 5.4300000e+05, 9.0000000e+07, 3.4000000e+06,
       2.3000000e+07, 8.0900000e+06, 1.0300000e+06, 5.0400000e+06,
       3.6000000e+05, 1.4000000e+06, 6.5000000e+05, 5.4000000e+07,
       4.2500000e+07, 1.1370000e+07, 3.2500000e+05, 4.1000000e+05,
       4.5000000e+05, 6.8200000e+05, 4.0500000e+06, 1.0500000e+06,
       1.0800000e+06, 4.3000000e+06, 6.8000000e+06, 2.1100000e+06,
       7.6400000e+05, 6.0300000e+05, 4.0900000e+05, 2.9200000e+05,
       2.8600000e+05, 1.3600000e+05, 5.4600000e+05, 8.8700000e+05,
       4.3000000e+04, 4.0900000e+04, 2.2000000e+06, 5.6600000e+06,
       3.5000000e+05, 1.1000000e+05, 1.2200000e+08, 1.1635000e+07,
       2.8000000e+06, 1.0650000e+06, 6.6900000e+05, 1.6076000e+07,
       6.4960000e+05, 6.7000000e+06, 2.2000000e+05, 2.6650000e+05,
       2.8790000e+06, 2.6500000e+07, 3.5100000e+05, 4.6761000e+07,
       1.7500000e+05, 1.1241000e+07, 8.0400000e+05, 1.3400000e+06,
       4.6700000e+05, 1.3300000e+05, 3.8230000e+06, 9.3400000e+05,
       2.9300000e+05, 1.9800000e+05, 9.2700000e+05, 9.7100000e+05,
       3.0600000e+06, 1.8620000e+06, 2.3200000e+05, 2.8880000e+06,
       1.3280000e+06, 1.5500000e+07, 5.6000000e+07, 2.2500000e+06,
       1.6753000e+07, 3.7000000e+06, 1.4700000e+06, 5.3000000e+05,
       2.6700000e+05, 3.3440000e+06, 7.2000000e+06, 2.7430000e+06,
       6.0820000e+06, 6.6090000e+06, 2.7700000e+07, 5.9400000e+06,
       3.9640000e+06, 5.5000000e+06, 1.9700000e+05, 4.3270000e+06,
       4.5900000e+05, 3.9370000e+06, 1.3135000e+06, 2.2980000e+05,
       5.3050000e+06, 2.6400000e+05, 1.7500000e+06, 5.9670000e+06,
       2.9800000e+06, 3.2300000e+05, 1.3260000e+06, 2.7000000e+07,
       5.2000000e+06, 2.5300000e+06, 7.9200000e+05, 1.1363000e+07,
       1.7150000e+06, 3.2900000e+05, 5.2710000e+06, 8.7000000e+06,
       3.2260000e+06, 5.9000000e+06, 4.4000000e+07, 3.8790000e+06,
       1.3000000e+07, 8.8000000e+06, 9.5000000e+06, 9.2000000e+05,
       3.5600000e+07, 9.4000000e+06, 7.9000000e+05, 4.8000000e+05,
       1.6000000e+05, 8.2000000e+06, 4.2570000e+06, 1.4100000e+06,
       3.4980000e+05, 7.8600000e+05, 2.0040000e+06, 1.2300000e+08,
       2.4800000e+05, 2.4000000e+07, 1.4259000e+07, 2.4500000e+07,
       3.8000000e+06, 1.8370000e+07, 6.8525000e+07, 4.8000000e+06,
       1.8340000e+06, 2.3850000e+07, 4.3000000e+07, 2.1600000e+07,
       4.5980000e+06, 1.3137000e+07, 1.1500000e+08, 3.9000000e+06,
       6.7000000e+05, 8.5000000e+06, 3.1480000e+06, 2.6000000e+06,
       4.0495000e+06, 1.0500000e+07, 6.5000000e+06, 4.3700000e+07,
       1.3800000e+07, 3.0690000e+05, 4.2000000e+05, 6.2730000e+05,
       1.1300000e+08, 3.2000000e+07, 1.1000000e+08, 1.3970000e+06,
       4.4850000e+05, 7.9757000e+06, 3.3000000e+05, 5.6000000e+06,
       1.4020000e+06, 2.1500000e+07, 2.9600000e+08, 4.9000000e+06,
       1.4024000e+06, 1.2618300e+07, 9.9000000e+06, 9.8253000e+05,
       7.0185200e+07, 2.1000000e+08, 8.4000000e+07, 3.9000000e+07,
       2.7000000e+06, 1.4034000e+06, 1.0500000e+08, 1.0300000e+08,
       2.8130000e+05, 1.2700000e+04, 2.5000000e+04, 9.7500000e+07,
       5.0700000e+05, 8.4000000e+06, 1.8300000e+07, 1.2500000e+08,
       1.8100000e+05, 2.8000000e+05, 1.4700000e+07, 1.3200000e+07,
       8.0430000e+06])

In [10]:
#query the 2021 startup funding data
query = "SELECT * FROM LP1_startup_funding2021"

data_2021 = pd.read_sql(query, connection)
data_2021.head(5)

c:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [11]:
#remove special characters from amount column

data_2021['Amount'] = data_2021['Amount'].str.replace('\W', '', regex=True)
data_2021.head(5)
data_2021.Amount.unique()

array(['1200000', '120000000', '30000000', '51000000', '2000000',
       '188000000', '200000', 'Undisclosed', '1000000', '3000000',
       '100000', '700000', '9000000', '40000000', '49000000', '400000',
       '300000', '25000000', '160000000', '150000', '1800000', '5000000',
       '850000', '53000000', '500000', '1100000', '6000000', '800000',
       '10000000', '21000000', '7500000', '26000000', '7400000',
       '1500000', '600000', '800000000', '17000000', '3500000',
       '15000000', '215000000', '2500000', '350000000', '5500000',
       '83000000', '110000000', '500000000', '65000000', '150000000000',
       '300000000', '2200000', '35000000', '140000000', '4000000',
       '13000000', None, '9500000', '8000000', 'Upsparks', '12000000',
       '1700000', '150000000', '100000000', '225000000', '6700000',
       '1300000', '20000000', '250000', '52000000', '3800000', '17500000',
       '42000000', '2300000', '7000000', '450000000', '28000000',
       '8500000', '37000000', '370000000', '16000000', '44000000',
       '770000', '125000000', '50000000', '4900000', '145000000',
       '22000000', '70000000', '6600000', '32000000', '24000000',
       '725000', '461000', 'SeriesC', 'Seed', '96000000', '60000000',
       '266000000', '4500000', '325000000', '6500000', '1600000',
       '225000', '85000000', '235000', '260000', '2900000', '86000000',
       '130000', '10000', '111000000', '265000', '76000000', '75000000',
       '1000000000', '18000000', '350000', '95000000', '4100000',
       '5200000', '1400000', '2600000', '900000', '11000000', '280000000',
       '14300000', '81000000', '8200000', '720000', '330000',
       'undisclosed', '200000000', '36000000', '67000000', '10200000',
       '220000000', '108000000', '450000', '660000000', 'ahVentures',
       '45000000', '3200000', '370000', 'PreseriesA',
       'ITOAngelNetworkLetsVenture', '48000000', '3600000', '192000000',
       '1900000', '41000000', '144000000', '270000000', '140000',
       '250000000', '320000', '4800000', '38000000', '125000', '64000000',
       '620000', 'JITOAngelNetworkLetsVenture', '1250000', '400000000',
       '27000000', '234000000', '460000000', '13500000', '5100000',
       '195000000', '7300000', '6300000', '12500000', '16500000',
       '340000', '43000000', '3300000', '92000000', '135000000', '155000',
       '2100000', '840000000', '248000000', '4300000', '570000',
       '4700000', '260000000', '175000000', '19000000', '810000',
       '600000000', '90000000', '5700000', '6750000', '78000000',
       '5400000', '115000000', '255000000', '570000000', '550000',
       '2700000', '4200000', '31000000', '540000', '14000000', '',
       '6200000', '750000', '23000000', '55000000'], dtype=object)

In [12]:
test=data_2021.query('Amount==["SeriesC","Seed","Upsparks"]')

In [13]:
#Reading 2018 and 2019 data from the csv files

data_2018=pd.read_csv('startup_funding_2018_2019\startup_funding2018.csv')
data_2018.head(5)

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [14]:
#remove special characters from amount column

data_2018['Amount'] = data_2018['Amount'].str.replace('\W', '', regex=True)
data_2018.head(5)
data_2018.columns
data_2018.Amount

0         250000
1       40000000
2       65000000
3        2000000
4
         ...
521    225000000
522
523         7500
524     35000000
525     35000000
Name: Amount, Length: 526, dtype: object

In [15]:
####Convert dollars to lahks for 2019
new_amount=[]
usd=0.01461
amounts=data_2018['Amount'].tolist()
for amount in amounts:
    try:
        new=float(amount)* usd
        new_amount.append(new)
    except ValueError:
        new == amount
        new_amount.append(new)

data_2018['Amount']=new_amount

In [16]:
data_2019=pd.read_csv('startup_funding_2018_2019\startup_funding2019.csv')
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [17]:
#Changing column names of 2019 data to match all other datasets
data_2019.rename(columns={'Company/Brand':'Company_Brand', 'What it does':'What_it_does', 'Amount($)':'Amount'}, inplace=True)
data_2019.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')

In [18]:
#remove special characters from amount column

data_2019['Amount'] = data_2019['Amount'].str.replace('\W', '', regex=True)
data_2019.head(5)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,6300000,NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,150000000,Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey",28000000,Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...",30000000,Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),6000000,NaN

In [19]:
#Changing column names of 2018 data to match all other datasets
data_2018.rename(columns={'Company Name':'Company_Brand','Industry':'Sector', 'Round/Series':'Stage', 'Location':'HeadQuarter', 'About Company':'What_it_does'}, inplace=True)
data_2018.head(5)

,Company_Brand,Sector,Stage,Amount,HeadQuarter,What_it_does
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,3652.5,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,584400.0,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,949650.0,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,29220.0,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,29220.0,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

### Merging datasets

In [20]:
#Concating 2020 and 2021 data since they have a similar structure
pd.set_option('display.max_rows', None)
final_df = pd.concat([data_2021,data_2020,data_2019,data_2018],axis=0,ignore_index=True)
final_df.head(5)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First",1200000,Pre-series A,NaN
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management",120000000,None,NaN
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital",30000000,Series D,NaN
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital",51000000,Series C,NaN
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal",2000000,Seed,NaN

In [21]:
res1 = pd.concat([data_2021,data_2020])
res1.head(2)
res1.Amount.unique()

array(['1200000', '120000000', '30000000', '51000000', '2000000',
       '188000000', '200000', 'Undisclosed', '1000000', '3000000',
       '100000', '700000', '9000000', '40000000', '49000000', '400000',
       '300000', '25000000', '160000000', '150000', '1800000', '5000000',
       '850000', '53000000', '500000', '1100000', '6000000', '800000',
       '10000000', '21000000', '7500000', '26000000', '7400000',
       '1500000', '600000', '800000000', '17000000', '3500000',
       '15000000', '215000000', '2500000', '350000000', '5500000',
       '83000000', '110000000', '500000000', '65000000', '150000000000',
       '300000000', '2200000', '35000000', '140000000', '4000000',
       '13000000', None, '9500000', '8000000', 'Upsparks', '12000000',
       '1700000', '150000000', '100000000', '225000000', '6700000',
       '1300000', '20000000', '250000', '52000000', '3800000', '17500000',
       '42000000', '2300000', '7000000', '450000000', '28000000',
       '8500000', '37000000', '370000000', '16000000', '44000000',
       '770000', '125000000', '50000000', '4900000', '145000000',
       '22000000', '70000000', '6600000', '32000000', '24000000',
       '725000', '461000', 'SeriesC', 'Seed', '96000000', '60000000',
       '266000000', '4500000', '325000000', '6500000', '1600000',
       '225000', '85000000', '235000', '260000', '2900000', '86000000',
       '130000', '10000', '111000000', '265000', '76000000', '75000000',
       '1000000000', '18000000', '350000', '95000000', '4100000',
       '5200000', '1400000', '2600000', '900000', '11000000', '280000000',
       '14300000', '81000000', '8200000', '720000', '330000',
       'undisclosed', '200000000', '36000000', '67000000', '10200000',
       '220000000', '108000000', '450000', '660000000', 'ahVentures',
       '45000000', '3200000', '370000', 'PreseriesA',
       'ITOAngelNetworkLetsVenture', '48000000', '3600000', '192000000',
       '1900000', '41000000', '144000000', '270000000', '140000',
       '250000000', '320000', '4800000', '38000000', '125000', '64000000',
       '620000', 'JITOAngelNetworkLetsVenture', '1250000', '400000000',
       '27000000', '234000000', '460000000', '13500000', '5100000',
       '195000000', '7300000', '6300000', '12500000', '16500000',
       '340000', '43000000', '3300000', '92000000', '135000000', '155000',
       '2100000', '840000000', '248000000', '4300000', '570000',
       '4700000', '260000000', '175000000', '19000000', '810000',
       '600000000', '90000000', '5700000', '6750000', '78000000',
       '5400000', '115000000', '255000000', '570000000', '550000',
       '2700000', '4200000', '31000000', '540000', '14000000', '',
       '6200000', '750000', '23000000', '55000000', 200000.0, 100000.0,
       nan, 400000.0, 340000.0, 600000.0, 45000000.0, 1000000.0,
       2000000.0, 1200000.0, 660000000.0, 120000.0, 7500000.0, 5000000.0,
       500000.0, 3000000.0, 10000000.0, 145000000.0, 100000000.0,
       21000000.0, 4000000.0, 20000000.0, 560000.0, 275000.0, 4500000.0,
       15000000.0, 390000000.0, 7000000.0, 5100000.0, 700000000.0,
       2300000.0, 700000.0, 19000000.0, 9000000.0, 40000000.0, 750000.0,
       1500000.0, 7800000.0, 50000000.0, 80000000.0, 30000000.0,
       1700000.0, 2500000.0, 40000.0, 33000000.0, 35000000.0, 300000.0,
       25000000.0, 3500000.0, 200000000.0, 6000000.0, 1300000.0,
       4100000.0, 575000.0, 800000.0, 28000000.0, 18000000.0, 3200000.0,
       900000.0, 250000.0, 4700000.0, 75000000.0, 8000000.0, 121000000.0,
       55000000.0, 3300000.0, 11000000.0, 16000000.0, 5400000.0,
       150000000.0, 4200000.0, 22000000.0, 52000000.0, 1100000.0,
       118000000.0, 1600000.0, 18500000.0, 70000000000.0, 800000000.0,
       400000000.0, 150000.0, 176000000.0, 60000000.0, 470000.0, 240000.0,
       3000000000.0, 74000000.0, 62000000.0, 2100000.0, 500000000.0,
       12500000.0, 2200000000.0, 5060000.0, 225000000.0, 24700000.0,
       7700000.0, 19067328.0, 51000000.0, 115000.0, 54000.0, 20000.0,
       803146.0, 238000.0, 10220000.0, 1020000.0, 12000000.0, 13400000.0,
       170000000.0, 2900000.0, 543000.0, 90000000.0, 3400000.0,
       23000000.0, 8090000.0, 1030000.0, 5040000.0, 360000.0, 1400000.0,
       650000.0, 54000000.0, 42500000.0, 11370000.0, 325000.0, 410000.0,
       450000.0, 682000.0, 4050000.0, 1050000.0, 1080000.0, 4300000.0,
       6800000.0, 2110000.0, 764000.0, 603000.0, 409000.0, 292000.0,
       286000.0, 136000.0, 546000.0, 887000.0, 43000.0, 40900.0,
       2200000.0, 5660000.0, 350000.0, 110000.0, 122000000.0, 11635000.0,
       2800000.0, 1065000.0, 669000.0, 16076000.0, 649600.0, 6700000.0,
       220000.0, 266500.0, 2879000.0, 26500000.0, 351000.0, 46761000.0,
       175000.0, 11241000.0, 804000.0, 1340000.0, 467000.0, 133000.0,
       3823000.0, 934000.0, 293000.0, 198000.0, 927000.0, 971000.0,
       3060000.0, 1862000.0, 232000.0, 2888000.0, 1328000.0, 15500000.0,
       56000000.0, 2250000.0, 16753000.0, 3700000.0, 1470000.0, 530000.0,
       267000.0, 3344000.0, 7200000.0, 2743000.0, 6082000.0, 6609000.0,
       27700000.0, 5940000.0, 3964000.0, 5500000.0, 197000.0, 4327000.0,
       459000.0, 3937000.0, 1313500.0, 229800.0, 5305000.0, 264000.0,
       1750000.0, 5967000.0, 2980000.0, 323000.0, 1326000.0, 27000000.0,
       5200000.0, 2530000.0, 792000.0, 11363000.0, 1715000.0, 329000.0,
       5271000.0, 8700000.0, 3226000.0, 5900000.0, 44000000.0, 3879000.0,
       13000000.0, 8800000.0, 9500000.0, 920000.0, 35600000.0, 9400000.0,
       790000.0, 480000.0, 160000.0, 8200000.0, 4257000.0, 1410000.0,
       349800.0, 786000.0, 2004000.0, 123000000.0, 248000.0, 24000000.0,
       14259000.0, 24500000.0, 3800000.0, 18370000.0, 68525000.0,
       4800000.0, 1834000.0, 23850000.0, 43000000.0, 21600000.0,
       4598000.0, 13137000.0, 115000000.0, 3900000.0, 670000.0, 8500000.0,
       3148000.0, 2600000.0, 4049500.0, 10500000.0, 6500000.0, 43700000.0,
       13800000.0, 306900.0, 420000.0, 627300.0, 113000000.0, 32000000.0,
       110000000.0, 1397000.0, 448500.0, 7975700.0, 330000.0, 5600000.0,
       1402000.0, 21500000.0, 296000000.0, 4900000.0, 1402400.0,
       12618300.0, 9900000.0, 982530.0, 70185200.0, 210000000.0,
       84000000.0, 39000000.0, 2700000.0, 1403400.0, 105000000.0,
       103000000.0, 281300.0, 12700.0, 25000.0, 97500000.0, 507000.0,
       8400000.0, 18300000.0, 125000000.0, 181000.0, 280000.0, 14700000.0,
       13200000.0, 8043000.0], dtype=object)

In [22]:
res2 = pd.concat([data_2019,data_2018])
res2.head(2)
res2.Amount.unique()

array(['6300000', '150000000', '28000000', '30000000', '6000000',
       'Undisclosed', '1000000', '20000000', '275000000', '22000000',
       '5000000', '140500', '540000000', '15000000', '182700', '12000000',
       '11000000', '15500000', '1500000', '5500000', '2500000', '140000',
       '230000000', '49400000', '32000000', '26000000', '150000',
       '400000', '2000000', '100000000', '8000000', '100000', '50000000',
       '120000000', '4000000', '6800000', '36000000', '5700000',
       '25000000', '600000', '70000000', '60000000', '220000', '2800000',
       '2100000', '7000000', '311000000', '4800000', '693000000',
       '33000000', 3652.5, 584400.0, 949650.0, 29220.0, 23376.0, 233760.0,
       730500.0, 1461000.0, 2191.5, 16071.0, 7305.0, 87660.0, 9496.5,
       511350.0, 935040.0, 292200.0, 14610.0, 73050.0, 58440.0, 438300.0,
       40908.0, 24837.0, 18993.0, 182625.0, 219150.0, 1519440.0, 657450.0,
       195774.0, 365250.0, 385704.0, 116880.0, 876.6, 131490.0, 1461.0,
       292.2, 1753.2, 496740.0, 4996620.0, 2091.34845, 8766000.0,
       10840620.0, 14610000.0, 29220000.0, 58147.799999999996, 146.1,
       3652500.0, 102270.0, 8035500.0, 416385.0, 3506400.0, 1753200.0,
       35064.0, 36525000.0, 336030.0, 160710.0, 642840.0, 47336.4,
       876600.0, 7889400.0, 9496500.0, 23376000.0, 13149.0, 146100.0,
       21915.0, 1022700.0, 204540.0, 1497525.0, 17532.0, 75972000.0,
       11688.0, 15209.01, 219.15, 20454.0, 32142.0, 26298.0, 52596.0,
       138795.0, 4383.0, 99786.3, 2922.0, 2191500.0, 62823.0, 5330.40006,
       5844.0, 328725.0, 192852.0, 730.5, 2048322.0, 43830.0, 18262.5,
       2629.7999999999997, 280512.0, 1504830.0, 61362.0, 2556.75, 21184.5,
       65745.0, 8766.0, 242526.0, 175320.0, 482130.0, 1826.25, 1899.3,
       509889.0, 1051920.0, 251292.0, 467520.0, 51135.0, 1972350.0,
       22499400.0, 2045400.0, 612159.0, 20600100.0, 51573.299999999996,
       48213.0, 8473800.0, 525960.0, 4967400.0, 3068100.0, 550504.8,
       7451100.0, 32142000.0, 321420.0, 1022.6999999999999, 224877120.0,
       292200000.0, 58440000.0, 2702850.0, 2410650.0, 10227.0, 29652456.0,
       1095750.0, 1168800.0, 25713.6, 39447.0, 4090800.0, 11688000.0,
       10957.5, 36525.0, 10665300.0, 5844000.0, 54057.0, 81816.0,
       3798600.0, 1449750.3, 584.4, 8035.5, 5332650.0, 127837.5,
       1139580.0, 409080.0, 3857040.0, 16509300.0, 11834100.0, 20454000.0,
       217689.0, 3287250.0, 109.575], dtype=object)

# Data Cleaning & Exploration

In [23]:
## Exploring the columns
#maintain
col_of_interest =['Founded','Stage','HeadQuarter','Sector','Amount','Founders']

#Considering the columns of interest and reindexing
df= final_df[col_of_interest].sort_values(by=['Founded','Stage'],ascending=True,ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Founded      2110 non-null   float64
 1   Stage        1941 non-null   object
 2   HeadQuarter  2765 non-null   object
 3   Sector       2861 non-null   object
 4   Amount       2622 non-null   object
 5   Founders     2334 non-null   object
dtypes: float64(1), object(5)
memory usage: 135.1+ KB

In [24]:
df.Amount.unique()

array(['60000000', 2200000000.0, '70000000', 15000000.0, 21000000.0,
       '234000000', '2000000', '4000000', '50000000', '40000000',
       '3000000', 6000000.0, '53000000', 50000000.0, nan, '600000',
       '100000000', '15000000', '10000000', '30000000', '140000000',
       '32000000', '6700000', '1000000', 5000000.0, '6000000',
       400000000.0, 2000000.0, 18000000.0, 10000000.0, 70000000000.0,
       800000000.0, 10220000.0, '5000000', '195000000', '1000000000',
       100000000.0, 62000000.0, 3060000.0, 600000.0, '37000000',
       8200000.0, 3800000.0, 5967000.0, '250000000', '220000000',
       'undisclosed', '400000000', '75000000', '840000000', '4700000',
       660000000.0, 1000000.0, 52000000.0, 225000000.0, 800000.0,
       9000000.0, 123000000.0, 181000.0, '24000000', 42500000.0,
       'SeriesC', '20000000', 7000000.0, 1340000.0, 35600000.0,
       16000000.0, 4000000.0, '12000000', 3000000.0, '9000000',
       30000000.0, 110000000.0, 296000000.0, '275000000', '21000000',
       '500000000', '125000000', '95000000', 51000000.0, 5600000.0,
       'Undisclosed', '6800000', '311000000', 75000000.0, 2250000.0,
       '500000', 2110000.0, 292000.0, '200000000', '28000000', '35000000',
       40000000.0, 2200000.0, 210000000.0, 26500000.0, '460000000',
       '175000000', 55000000.0, '270000000', '76000000', '350000000',
       '45000000', '150000000', '4500000', '17000000', '300000000',
       200000000.0, 25000000.0, 500000000.0, 5060000.0, 409000.0,
       122000000.0, 6609000.0, 13800000.0, '540000000', '230000000',
       '120000000', 2743000.0, 1500000.0, 200000.0, '5400000', 12000000.0,
       20000000.0, 28000000.0, 44000000.0, '115000000', '41000000',
       '7000000', '8000000', '150000', '64000000', '92000000',
       3000000000.0, 24700000.0, 7700000.0, 803146.0, 530000.0, 5940000.0,
       2980000.0, 792000.0, 3226000.0, 8800000.0, 13137000.0, 21500000.0,
       1100000.0, 8000000.0, '36000000', '11000000', 7200000.0, 400000.0,
       887000.0, 2888000.0, 170000000.0, 11241000.0, 35000000.0,
       46761000.0, 4800000.0, '660000000', '1500000', '200000', '320000',
       3200000.0, 176000000.0, 115000.0, 700000.0, 3700000.0, 4049500.0,
       220000.0, '5500000', '4800000', '693000000', 500000.0, 1300000.0,
       1065000.0, 467000.0, 786000.0, '1800000', '3300000', '810000',
       1200000.0, 900000.0, 110000.0, '700000', '6300000', 3500000.0,
       325000.0, 4050000.0, 650000.0, 43000000.0, 113000000.0, '8500000',
       '13500000', 1030000.0, 150000000.0, 9400000.0, 32000000.0,
       '225000000', 16076000.0, 11363000.0, 18370000.0, 60000000.0,
       105000000.0, 97500000.0, '160000000', '2100000', 16753000.0,
       27700000.0, 3400000.0, '188000000', '49000000', '800000000',
       '1700000', '1600000', '25000000', '300000', '5100000', 19000000.0,
       240000.0, 300000.0, 6800000.0, 40900.0, 340000.0, 15500000.0,
       349800.0, 7500000.0, 23850000.0, 6500000.0, 11000000.0, 250000.0,
       '182700', '15500000', 'JITOAngelNetworkLetsVenture', 7800000.0,
       8090000.0, 4257000.0, 1397000.0, '1300000', '900000', '800000',
       '1200000', 750000.0, '3500000', '18000000', 1600000.0, '2500000',
       '12500000', 4300000.0, 649600.0, '13000000', '26000000', 5100000.0,
       13400000.0, 2900000.0, 410000.0, 10500000.0, 43700000.0,
       '14300000', '51000000', '65000000', '85000000', '43000000',
       45000000.0, 121000000.0, 23000000.0, 11370000.0, 6700000.0,
       56000000.0, 5500000.0, 3900000.0, 7975700.0, 90000000.0, 8043000.0,
       '108000000', '16000000', '67000000', '248000000', '192000000',
       '450000000', '266000000', '52000000', '110000000', '325000000',
       '48000000', '6500000', '400000', '7500000', '570000000',
       700000000.0, 5400000.0, 118000000.0, 470000.0, 12500000.0,
       1020000.0, 764000.0, 546000.0, 43000.0, 351000.0, 1328000.0,
       3344000.0, 4327000.0, 1313500.0, 229800.0, 1326000.0, 5200000.0,
       1715000.0, 3879000.0, 9500000.0, 1410000.0, 9900000.0, '100000',
       682000.0, 1700000.0, 6082000.0, '3600000', '1100000', 1050000.0,
       '770000', '2200000', '540000', 560000.0, 507000.0, 160000.0,
       '5200000', 5900000.0, 8500000.0, 2700000.0, '23000000', 70185200.0,
       125000000.0, 14700000.0, '42000000', '255000000', 115000000.0,
       '145000000', '3800000', '280000000', 'PreseriesA', '125000',
       '2700000', 'Seed', 145000000.0, 4200000.0, 2100000.0, 603000.0,
       1834000.0, 448500.0, 669000.0, 971000.0, 3937000.0, 248000.0,
       '330000', 1400000.0, 2300000.0, 329000.0, 306900.0, '90000000',
       22000000.0, 1750000.0, 54000000.0, 11635000.0, 2004000.0,
       103000000.0, '49400000', '260000000', 13000000.0, '83000000',
       '450000', '155000', 4500000.0, 390000000.0, 4700000.0, 459000.0,
       420000.0, '5700000', '150000000000', '8200000', 360000.0,
       5040000.0, 1403400.0, 2500000.0, '350000', '725000', '1400000',
       '340000', '2300000', 3300000.0, 100000.0, 982530.0, 627300.0,
       2800000.0, '2600000', '22000000', '81000000', 80000000.0,
       '215000000', '370000000', '96000000', '', '7400000', '9500000',
       '144000000', '19000000', '600000000', 150000.0, 74000000.0,
       54000.0, 20000.0, 238000.0, 136000.0, 5660000.0, 350000.0,
       266500.0, 133000.0, 3823000.0, 934000.0, 232000.0, 197000.0,
       8700000.0, '220000', '225000', '235000', 40000.0, '4100000',
       '1900000', 543000.0, '850000', '250000', '370000', '1250000',
       '7300000', '6200000', 275000.0, 1080000.0, 175000.0, 927000.0,
       '38000000', '27000000', '44000000', '31000000', '86000000',
       '55000000', '265000', '3200000', '140000', 4100000.0, 19067328.0,
       286000.0, 198000.0, 1470000.0, '140500', 'Upsparks', 'ahVentures',
       'ITOAngelNetworkLetsVenture', None, '260000', '720000', '620000',
       '550000', '461000', '2900000', '10000', '570000', '4200000',
       450000.0, '10200000', '16500000', '6750000', '14000000',
       '78000000', '17500000', '4300000', 120000.0, 33000000.0, 575000.0,
       2600000.0, '750000', '4900000', '6600000', '111000000',
       '135000000', '130000', 29220.0, 730500.0, 14610.0, 7305.0, 292.2,
       496740.0, 1461.0, 102270.0, 47336.4, 75972000.0, 138795.0, 4383.0,
       20454.0, 192852.0, 730.5, 511350.0, 242526.0, 175320.0, 3652.5,
       8766.0, 51135.0, 292200.0, 146100.0, 13149.0, 2045400.0, 10227.0,
       36525.0, 182625.0, 264000.0, 3068100.0, 949650.0, 39447.0, 43830.0,
       18993.0, 3798600.0, 3652500.0, 8035500.0, 35064.0, 1461000.0,
       1051920.0, 1022700.0, 1168800.0, 5844.0, 81816.0, 146.1, 1497525.0,
       17532.0, 584.4, 29220000.0, 438300.0, 224877120.0, 2702850.0,
       20454000.0, 2879000.0, 1862000.0, 323000.0, 3148000.0, 8766000.0,
       219.15, 3857040.0, 10840620.0, 14610000.0, 36525000.0, 7889400.0,
       612159.0, 321420.0, 292200000.0, 5332650.0, 160710.0, 16509300.0,
       18500000.0, 584400.0, 23376.0, 233760.0, 2191.5, 16071.0, 9496.5,
       935040.0, 40908.0, 24837.0, 73050.0, 219150.0, 1519440.0, 657450.0,
       195774.0, 365250.0, 385704.0, 116880.0, 131490.0, 1753.2,
       4996620.0, 2091.34845, 3506400.0, 1753200.0, 642840.0, 876600.0,
       23376000.0, 21915.0, 11688.0, 32142.0, 26298.0, 2922.0, 2191500.0,
       62823.0, 5330.40006, 328725.0, 18262.5, 2629.7999999999997,
       280512.0, 1504830.0, 2556.75, 21184.5, 482130.0, 1826.25, 1899.3,
       509889.0, 467520.0, 1972350.0, 22499400.0, 87660.0, 20600100.0,
       525960.0, 550504.8, 32142000.0, 1022.6999999999999, 9496500.0,
       58440.0, 10957.5, 10665300.0, 8035.5, 1139580.0, 11834100.0,
       109.575, 267000.0, 5271000.0, 281300.0, 12700.0, 25000.0,
       13200000.0, 27000000.0, 2530000.0, 14259000.0, 1402400.0,
       18300000.0, 876.6, 52596.0, 99786.3, 2048322.0, 61362.0, 65745.0,
       251292.0, 48213.0, 4967400.0, 2410650.0, 4090800.0, 217689.0,
       3287250.0, 790000.0, 21600000.0, 39000000.0, 8400000.0,
       58147.799999999996, 204540.0, 51573.299999999996, 8473800.0,
       58440000.0, 24000000.0, 336030.0, 1095750.0, 1449750.3, 24500000.0,
       29652456.0, 416385.0, 15209.01, 7451100.0, 25713.6, 11688000.0,
       5844000.0, 54057.0, 127837.5, 409080.0, 804000.0, 293000.0,
       3964000.0, 5305000.0, 920000.0, 480000.0, 68525000.0, 4598000.0,
       670000.0, 330000.0, 1402000.0, 4900000.0, 12618300.0, 84000000.0,
       280000.0, '2800000', '33000000'], dtype=object)

In [25]:
final_df.Stage.unique()

array(['Pre-series A', None, 'Series D', 'Series C', 'Seed', 'Series B',
       'Series E', 'Pre-seed', 'Series A', 'Pre-series B', 'Debt',
       '$1200000', 'Bridge', 'Seed+', 'Series F2', 'Series A+',
       'Series G', 'Series F', 'Series H', 'Series B3', 'PE', 'Series F1',
       'Pre-series A1', '$300000', 'Early seed', 'Series D1', '$6000000',
       '$1000000', 'Seies A', 'Pre-series', 'Series A2', 'Series I',
       'Pre-series C', 'Series B2', 'Pre- series A', 'Edge',
       'Pre-Series B', 'Seed A', 'Series A-1', 'Seed Funding', 'Pre-Seed',
       'Seed round', 'Pre-seed Round', 'Seed Round & Series A',
       'Pre Series A', 'Pre seed Round', 'Angel Round', 'Pre series A1',
       'Series E2', 'Pre series A', 'Seed Round', 'Bridge Round',
       'Pre seed round', 'Pre series B', 'Pre series C',
       'Seed Investment', 'Mid series', 'Series C, D', 'Seed funding',
       nan, 'Fresh funding', 'Post series A', 'Seed fund', 'Series B+',
       'Angel', 'Private Equity', 'Venture - Series Unknown', 'Grant',
       'Debt Financing', 'Post-IPO Debt', 'Corporate Round',
       'Undisclosed',
       'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',
       'Secondary Market', 'Post-IPO Equity', 'Non-equity Assistance',
       'Funding Round'], dtype=object)

In [26]:
#Not done yet
final_df.query('Stage==["$6000000","$300000","$1000000"]')

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
538,Little Leap,2020.0,New Delhi,EdTech,Soft Skills that make Smart Leaders,Holistic Development Programs for children in ...,Vishal Gupta,ahVentures,$300000,NaN
551,BHyve,2020.0,Mumbai,Human Resources,A Future of Work Platform for diffusing Employ...,Backed by 100x.VC,"Omkar Pandharkame, Ketaki Ogale",ITOAngelNetworkLetsVenture,$300000,NaN
674,MYRE Capital,2020.0,Mumbai,Commercial Real Estate,Democratising Real Estate Ownership,Own rent yielding commercial properties,Aryaman Vir,None,$6000000,NaN
677,Saarthi Pedagogy,2015.0,Ahmadabad,EdTech,"India's fastest growing Pedagogy company, serv...",Pedagogy,Sushil Agarwal,JITOAngelNetworkLetsVenture,$1000000,NaN

In [27]:
final_df.What_it_does.unique()

array(['Unbox Robotics builds on-demand AI-driven warehouse robotics solutions, which can be deployed using limited foot-print, time, and capital.',
       'UpGrad is an online higher education platform.',
       'LEAD School offers technology based school transformation system that assures excellent learning for every child.',
       ...,
       'Mombay is a unique opportunity for housewives to start household food business and avail everyone with their homemade healthy dishes.',
       'Droni Tech manufacture UAVs and develop software to service a range of industry requirements.',
       "Welcome to India's most convenient pharmacy!"], dtype=object)

In [28]:
final_df.HeadQuarter.unique()

array(['Bangalore', 'Mumbai', 'Gurugram', 'New Delhi', 'Hyderabad',
       'Jaipur', 'Ahmadabad', 'Chennai', None,
       'Small Towns, Andhra Pradesh', 'Goa', 'Rajsamand', 'Ranchi',
       'Faridabad, Haryana', 'Gujarat', 'Pune', 'Thane', 'Computer Games',
       'Cochin', 'Noida', 'Chandigarh', 'Gurgaon', 'Vadodara',
       'Food & Beverages', 'Pharmaceuticals\t#REF!', 'Gurugram\t#REF!',
       'Kolkata', 'Ahmedabad', 'Mohali', 'Haryana', 'Indore', 'Powai',
       'Ghaziabad', 'Nagpur', 'West Bengal', 'Patna', 'Samsitpur',
       'Lucknow', 'Telangana', 'Silvassa', 'Thiruvananthapuram',
       'Faridabad', 'Roorkee', 'Ambernath', 'Panchkula', 'Surat',
       'Coimbatore', 'Andheri', 'Mangalore', 'Telugana', 'Bhubaneswar',
       'Kottayam', 'Beijing', 'Panaji', 'Satara', 'Orissia', 'Jodhpur',
       'New York', 'Santra', 'Mountain View, CA', 'Trivandrum',
       'Jharkhand', 'Kanpur', 'Bhilwara', 'Guwahati',
       'Online Media\t#REF!', 'Kochi', 'London',
       'Information Technology & Services', 'The Nilgiris', 'Gandhinagar',
       'Belgaum', 'Tirunelveli, Tamilnadu', 'Singapore', 'Kerala',
       'Jaipur, Rajastan', 'Delhi', 'Frisco, Texas, United States',
       'California', 'Dhingsara, Haryana', 'New York, United States',
       'San Francisco, California, United States',
       'San Francisco, United States', 'San Ramon, California',
       'Paris, Ile-de-France, France', 'Plano, Texas, United States',
       'Sydney', 'San Francisco Bay Area, Silicon Valley, West Coast',
       'Bangaldesh', 'London, England, United Kingdom',
       'Sydney, New South Wales, Australia', 'Milano, Lombardia, Italy',
       'Palmwoods, Queensland, Australia', 'France',
       'San Francisco Bay Area, West Coast, Western US',
       'Trivandrum, Kerala, India', 'Samastipur, Bihar',
       'Irvine, California, United States', 'Tumkur, Karnataka',
       'Newcastle Upon Tyne, Newcastle upon Tyne, United Kingdom',
       'Shanghai, China', 'Jiaxing, Zhejiang, China', 'Rajastan',
       'Ludhiana', 'Dehradun', 'San Franciscao', 'San Francisco',
       'Tangerang, Jawa Barat, Indonesia', 'Berlin', 'Seattle', 'Riyadh',
       'Seoul', 'Bangkok', 'Warangal', 'Hyderebad', 'Odisha', 'Bihar',
       'Tamil Nadu', 'Uttar Pradesh', 'Bhopal', 'Banglore', 'Bengaluru',
       nan, 'Uttar pradesh', 'Rajasthan', 'Bangalore, Karnataka, India',
       'Mumbai, Maharashtra, India', 'Gurgaon, Haryana, India',
       'Noida, Uttar Pradesh, India', 'Hyderabad, Andhra Pradesh, India',
       'Bengaluru, Karnataka, India', 'Kalkaji, Delhi, India',
       'Delhi, Delhi, India', 'India, Asia', 'Hubli, Karnataka, India',
       'New Delhi, Delhi, India', 'Chennai, Tamil Nadu, India',
       'Mohali, Punjab, India', 'Kolkata, West Bengal, India',
       'Pune, Maharashtra, India', 'Jodhpur, Rajasthan, India',
       'Kanpur, Uttar Pradesh, India', 'Ahmedabad, Gujarat, India',
       'Azadpur, Delhi, India', 'Haryana, Haryana, India',
       'Cochin, Kerala, India', 'Faridabad, Haryana, India',
       'Jaipur, Rajasthan, India', 'Kota, Rajasthan, India',
       'Anand, Gujarat, India', 'Bangalore City, Karnataka, India',
       'Belgaum, Karnataka, India', 'Thane, Maharashtra, India',
       'Margão, Goa, India', 'Indore, Madhya Pradesh, India',
       'Alwar, Rajasthan, India', 'Kannur, Kerala, India',
       'Ernakulam, Kerala, India', 'Kormangala, Karnataka, India',
       'Uttar Pradesh, India, Asia', 'Andheri, Maharashtra, India',
       'Mylapore, Tamil Nadu, India', 'Ghaziabad, Uttar Pradesh, India',
       'Kochi, Kerala, India', 'Powai, Assam, India',
       'Guntur, Andhra Pradesh, India', 'Kalpakkam, Tamil Nadu, India',
       'Bhopal, Madhya Pradesh, India', 'Coimbatore, Tamil Nadu, India',
       'Worli, Maharashtra, India', 'Alleppey, Kerala, India',
       'Chandigarh, Chandigarh, India', 'Guindy, Tamil Nadu, India',
       'Lucknow, Uttar Pradesh, India'], dtype=object)

In [29]:
final_df.Founders.unique()

array(['Pramod Ghadge, Shahid Memon',
       'Mayank Kumar, Phalgun Kompalli, Ravijot Chugh, Ronnie Screwvala',
       'Smita Deorah, Sumeet Mehta', ..., 'Pavan Kushwaha',
       'Jeevan Chowdary M, Harshit Harchani',
       'Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mohit Gupta'],
      dtype=object)

In [30]:
final_df.Investor.unique()

array(['BEENEXT, Entrepreneur First',
       'Unilazer Ventures, IIFL Asset Management',
       'GSV Ventures, Westbridge Capital', ...,
       'Norwest Venture Partners, General Catalyst, Fundamentum, Accel Partners',
       'TPG, Norwest Venture Partners, Evolvence India', nan],
      dtype=object)

In [31]:
test

for row in test.index:
    print(row)
    row_list = test.loc[row, :].values.flatten().tolist()
    row_list
#row_list = test.loc[98, :].values.flatten().tolist()

98
111
242
256
257
1148

In [32]:
row_list

['Godamwale',
 2016.0,
 'Mumbai',
 'Logistics & Supply Chain',
 'Godamwale is tech enabled integrated logistics company providing end to end supply chain solutions.',
 'Basant Kumar, Vivek Tiwari, Ranbir Nandan',
 '1000000\t#REF!',
 'Seed',
 None]

In [38]:

for i in row_list:
    # Remove letters using string manipulation
    
    if isinstance(i, str):
       s = ''.join(filter(str.isdigit, i))
      
       
    else: 
       pass  
print(row_list)

KeyboardInterrupt: