# Using the CRISP-DM to investigate the indian ecosystem and to propose the best indian start-up to invest

# GOAL
`
The goal of this project is to propose the best indian start-up to invest.

In [ ]:
#Libraries imported
import MySQLdb
import sqlalchemy as sa
import pyodbc     
from dotenv import dotenv_values    #import the dotenv_values function from the dotenv package
import pandas as pd
import warnings

In [ ]:
env_variables= dotenv_values('logins.env')
database= env_variables.get('database')
server = env_variables.get('server')
username = env_variables.get('username')
password = env_variables.get('password')

# Data Understanding

- There are three data sources to work with (2 SQL and 1 CSV)
- Explore data
- Verify data quality

### Connecting to the dapDB to extract the 2020 and 2021 data

In [ ]:
#Connecting to the database to analyse the 2020-2021 data

connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"
connection = pyodbc.connect(connection_string)

In [64]:
#query the 2020 startup funding data

query = "SELECT * FROM LP1_startup_funding2020"

data_2020 = pd.read_sql(query, connection)
data_2020.head(5)

c:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [ ]:
#query the 2021 startup funding data
query = "SELECT * FROM LP1_startup_funding2021"

data_2021 = pd.read_sql(query, connection)
data_2021.head(5)

In [ ]:
#remove special characters from amount column
data_2021.info()
data_2021['Amount'] = data_2021['Amount'].str.replace('\W', '', regex=True)
data_2021.head(5)

In [ ]:
#Reading 2018 and 2019 data from the csv files

data_2018=pd.read_csv('startup_funding_2018_2019\startup_funding2018.csv')
data_2018.head(5)

In [ ]:
#remove special characters from amount column
data_2018.info()
data_2018['Amount'] = data_2018['Amount'].str.replace('\W', '', regex=True)
data_2018.head(5)

In [ ]:
data_2019=pd.read_csv('startup_funding_2018_2019\startup_funding2019.csv')
data_2019.info()

In [78]:
#Changing column names of 2019 data to match all other datasets
data_2019.rename(columns={'Company/Brand':'Company_Brand', 'What it does':'What_it_does', 'Amount($)':'Amount'}, inplace=True)
data_2019.head(5)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,6300000,NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,150000000,Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey",28000000,Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...",30000000,Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),6000000,NaN

In [77]:
#remove special characters from amount column

data_2019['Amount'] = data_2019['Amount'].str.replace('\W', '', regex=True)
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What_it_does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount         89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [76]:
#Changing column names of 2019 data to match all other datasets
data_2018.rename(columns={'Company Name':'Company_Brand','Industry':'Sector', 'Round/Series':'Stage', 'Location':'HeadQuarter', 'About Company':'What_it_does'}, inplace=True)
data_2018.head(5)

,Company_Brand,Sector,Stage,Amount,HeadQuarter,What_it_does
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,40000000,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,65000000,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

### Merging datasets

In [71]:
#Concating 2020 and 2021 data since they have a similar structure
pd.set_option('display.max_rows', None)
final_df = pd.concat([data_2021,data_2020,data_2019,data_2018],axis=0,ignore_index=True)
final_df.head(5)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First",1200000,Pre-series A,NaN
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management",120000000,None,NaN
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital",30000000,Series D,NaN
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital",51000000,Series C,NaN
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal",2000000,Seed,NaN

# Data Cleaning & Exploration

In [85]:
## Exploring the columns
col_of_interest =['Founded','Stage','HeadQuarter','Sector','Amount','Founders']

#Considering the columns of interest and reindexing
df= final_df[col_of_interest].sort_values(by=['Founded','Stage'],ascending=True,ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Founded      2110 non-null   float64
 1   Stage        1941 non-null   object
 2   HeadQuarter  2765 non-null   object
 3   Sector       2861 non-null   object
 4   Amount       2622 non-null   object
 5   Founders     2334 non-null   object
dtypes: float64(1), object(5)
memory usage: 135.1+ KB

In [86]:
df.Amount.unique()

array(['60000000', 2200000000.0, '70000000', 15000000.0, 21000000.0,
       '234000000', '2000000', '4000000', '50000000', '40000000',
       '3000000', 6000000.0, '53000000', 50000000.0, nan, '600000',
       '100000000', '15000000', '10000000', '30000000', '140000000',
       '32000000', '6700000', '1000000', 5000000.0, '6000000',
       400000000.0, 2000000.0, 18000000.0, 10000000.0, 70000000000.0,
       800000000.0, 10220000.0, '5000000', '195000000', '1000000000',
       100000000.0, 62000000.0, 3060000.0, 600000.0, '37000000',
       8200000.0, 3800000.0, 5967000.0, '250000000', '220000000',
       'undisclosed', '400000000', '75000000', '840000000', '4700000',
       660000000.0, 1000000.0, 52000000.0, 225000000.0, 800000.0,
       9000000.0, 123000000.0, 181000.0, '24000000', 42500000.0,
       'SeriesC', '20000000', 7000000.0, 1340000.0, 35600000.0,
       16000000.0, 4000000.0, '12000000', 3000000.0, '9000000',
       30000000.0, 110000000.0, 296000000.0, '275000000', '21000000',
       '500000000', '125000000', '95000000', 51000000.0, 5600000.0,
       'Undisclosed', '6800000', '311000000', 75000000.0, 2250000.0,
       '500000', 2110000.0, 292000.0, '200000000', '28000000', '35000000',
       40000000.0, 2200000.0, 210000000.0, 26500000.0, '460000000',
       '175000000', 55000000.0, '270000000', '76000000', '350000000',
       '45000000', '150000000', '4500000', '17000000', '300000000',
       200000000.0, 25000000.0, 500000000.0, 5060000.0, 409000.0,
       122000000.0, 6609000.0, 13800000.0, '540000000', '230000000',
       '120000000', 2743000.0, 1500000.0, 200000.0, '5400000', 12000000.0,
       20000000.0, 28000000.0, 44000000.0, '115000000', '41000000',
       '7000000', '8000000', '150000', '64000000', '92000000',
       3000000000.0, 24700000.0, 7700000.0, 803146.0, 530000.0, 5940000.0,
       2980000.0, 792000.0, 3226000.0, 8800000.0, 13137000.0, 21500000.0,
       1100000.0, 8000000.0, '36000000', '11000000', 7200000.0, 400000.0,
       887000.0, 2888000.0, 170000000.0, 11241000.0, 35000000.0,
       46761000.0, 4800000.0, '660000000', '1500000', '200000', '320000',
       3200000.0, 176000000.0, 115000.0, 700000.0, 3700000.0, 4049500.0,
       220000.0, '5500000', '4800000', '693000000', 500000.0, 1300000.0,
       1065000.0, 467000.0, 786000.0, '1800000', '3300000', '810000',
       1200000.0, 900000.0, 110000.0, '700000', '6300000', 3500000.0,
       325000.0, 4050000.0, 650000.0, 43000000.0, 113000000.0, '8500000',
       '13500000', 1030000.0, 150000000.0, 9400000.0, 32000000.0,
       '225000000', 16076000.0, 11363000.0, 18370000.0, 60000000.0,
       105000000.0, 97500000.0, '160000000', '2100000', 16753000.0,
       27700000.0, 3400000.0, '188000000', '49000000', '800000000',
       '1700000', '1600000', '25000000', '300000', '5100000', 19000000.0,
       240000.0, 300000.0, 6800000.0, 40900.0, 340000.0, 15500000.0,
       349800.0, 7500000.0, 23850000.0, 6500000.0, 11000000.0, 250000.0,
       '182700', '15500000', 'JITOAngelNetworkLetsVenture', 7800000.0,
       8090000.0, 4257000.0, 1397000.0, '1300000', '900000', '800000',
       '1200000', 750000.0, '3500000', '18000000', 1600000.0, '2500000',
       '12500000', 4300000.0, 649600.0, '13000000', '26000000', 5100000.0,
       13400000.0, 2900000.0, 410000.0, 10500000.0, 43700000.0,
       '14300000', '51000000', '65000000', '85000000', '43000000',
       45000000.0, 121000000.0, 23000000.0, 11370000.0, 6700000.0,
       56000000.0, 5500000.0, 3900000.0, 7975700.0, 90000000.0, 8043000.0,
       '108000000', '16000000', '67000000', '248000000', '192000000',
       '450000000', '266000000', '52000000', '110000000', '325000000',
       '48000000', '6500000', '400000', '7500000', '570000000',
       700000000.0, 5400000.0, 118000000.0, 470000.0, 12500000.0,
       1020000.0, 764000.0, 546000.0, 43000.0, 351000.0, 1328000.0,
       3344000.0, 4327000.0, 1313500.0, 229800.0, 1326000.0, 5200000.0,
       1715000.0, 3879000.0, 9500000.0, 1410000.0, 9900000.0, '100000',
       682000.0, 1700000.0, 6082000.0, '3600000', '1100000', 1050000.0,
       '770000', '2200000', '540000', 560000.0, 507000.0, 160000.0,
       '5200000', 5900000.0, 8500000.0, 2700000.0, '23000000', 70185200.0,
       125000000.0, 14700000.0, '42000000', '255000000', 115000000.0,
       '145000000', '3800000', '280000000', 'PreseriesA', '125000',
       '2700000', 'Seed', 145000000.0, 4200000.0, 2100000.0, 603000.0,
       1834000.0, 448500.0, 669000.0, 971000.0, 3937000.0, 248000.0,
       '330000', 1400000.0, 2300000.0, 329000.0, 306900.0, '90000000',
       22000000.0, 1750000.0, 54000000.0, 11635000.0, 2004000.0,
       103000000.0, '49400000', '260000000', 13000000.0, '83000000',
       '450000', '155000', 4500000.0, 390000000.0, 4700000.0, 459000.0,
       420000.0, '5700000', '150000000000', '8200000', 360000.0,
       5040000.0, 1403400.0, 2500000.0, '350000', '725000', '1400000',
       '340000', '2300000', 3300000.0, 100000.0, 982530.0, 627300.0,
       2800000.0, '2600000', '22000000', '81000000', 80000000.0,
       '215000000', '370000000', '96000000', '', '7400000', '9500000',
       '144000000', '19000000', '600000000', 150000.0, 74000000.0,
       54000.0, 20000.0, 238000.0, 136000.0, 5660000.0, 350000.0,
       266500.0, 133000.0, 3823000.0, 934000.0, 232000.0, 197000.0,
       8700000.0, '220000', '225000', '235000', 40000.0, '4100000',
       '1900000', 543000.0, '850000', '250000', '370000', '1250000',
       '7300000', '6200000', 275000.0, 1080000.0, 175000.0, 927000.0,
       '38000000', '27000000', '44000000', '31000000', '86000000',
       '55000000', '265000', '3200000', '140000', 4100000.0, 19067328.0,
       286000.0, 198000.0, 1470000.0, '140500', 'Upsparks', 'ahVentures',
       'ITOAngelNetworkLetsVenture', None, '260000', '720000', '620000',
       '550000', '461000', '2900000', '10000', '570000', '4200000',
       450000.0, '10200000', '16500000', '6750000', '14000000',
       '78000000', '17500000', '4300000', 120000.0, 33000000.0, 575000.0,
       2600000.0, '750000', '4900000', '6600000', '111000000',
       '135000000', '130000', '50000', '16600000', 264000.0, '210000000',
       '550000000', '2400000', '72000000', '80000000', '5600000',
       '102500000', '40000', '2000000000', '15392000000', '185000000',
       '1400000000', 2879000.0, 1862000.0, 323000.0, 3148000.0, '15000',
       '20000', '742000000', '2500000000', '41900000', '20000000000',
       '365000000', '1130000000', 18500000.0, '650000', '2800000',
       '104000000', '26400000', '120000', '34000000', '342000000',
       '143145', '364846', '22500000', '180000', '19200000', '103000000',
       '175000', '1450000', '33000000', '34900000', '2200000000', '70000',
       '7500', 267000.0, 5271000.0, 281300.0, 12700.0, 25000.0,
       13200000.0, 27000000.0, 2530000.0, 14259000.0, 1402400.0,
       18300000.0, '13400000', '60000', '6830000', '13200000',
       '140200000', '17200000', '240000000', '340000000', '165000000',
       '650000000', '14900000', 790000.0, 21600000.0, 39000000.0,
       8400000.0, '3980000', '3240000', '1540000000', '3530000',
       '580000000', '4000000000', '264000000', '810000000', 24000000.0,
       '1410000000', '99230000', 24500000.0, '2029600000', '5200000000',
       '28500000', '1600000000', '1041000', '37680000', '510000000',
       '1760000', '730000000', '3700000', '8750000', 804000.0, 293000.0,
       3964000.0, 5305000.0, 920000.0, 480000.0, 68525000.0, 4598000.0,
       670000.0, 330000.0, 1402000.0, 4900000.0, 12618300.0, 84000000.0,
       280000.0], dtype=object)

In [62]:
final_df.Stage.unique()

array(['Pre-series A', None, 'Series D', 'Series C', 'Seed', 'Series B',
       'Series E', 'Pre-seed', 'Series A', 'Pre-series B', 'Debt',
       '$1200000', 'Bridge', 'Seed+', 'Series F2', 'Series A+',
       'Series G', 'Series F', 'Series H', 'Series B3', 'PE', 'Series F1',
       'Pre-series A1', '$300000', 'Early seed', 'Series D1', '$6000000',
       '$1000000', 'Seies A', 'Pre-series', 'Series A2', 'Series I',
       'Pre-series C', 'Series B2', 'Pre- series A', 'Edge',
       'Pre-Series B', 'Seed A', 'Series A-1', 'Seed Funding', 'Pre-Seed',
       'Seed round', 'Pre-seed Round', 'Seed Round & Series A',
       'Pre Series A', 'Pre seed Round', 'Angel Round', 'Pre series A1',
       'Series E2', 'Pre series A', 'Seed Round', 'Bridge Round',
       'Pre seed round', 'Pre series B', 'Pre series C',
       'Seed Investment', 'Mid series', 'Series C, D', 'Seed funding',
       nan, 'Fresh funding', 'Post series A', 'Seed fund', 'Series B+',
       'Angel', 'Private Equity', 'Venture - Series Unknown', 'Grant',
       'Debt Financing', 'Post-IPO Debt', 'Corporate Round',
       'Undisclosed',
       'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',
       'Secondary Market', 'Post-IPO Equity', 'Non-equity Assistance',
       'Funding Round'], dtype=object)

In [79]:
#Not done yet
final_df.query('Stage==["$6000000","$300000","$1000000"]')

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
538,Little Leap,2020.0,New Delhi,EdTech,Soft Skills that make Smart Leaders,Holistic Development Programs for children in ...,Vishal Gupta,ahVentures,$300000,NaN
551,BHyve,2020.0,Mumbai,Human Resources,A Future of Work Platform for diffusing Employ...,Backed by 100x.VC,"Omkar Pandharkame, Ketaki Ogale",ITOAngelNetworkLetsVenture,$300000,NaN
674,MYRE Capital,2020.0,Mumbai,Commercial Real Estate,Democratising Real Estate Ownership,Own rent yielding commercial properties,Aryaman Vir,None,$6000000,NaN
677,Saarthi Pedagogy,2015.0,Ahmadabad,EdTech,"India's fastest growing Pedagogy company, serv...",Pedagogy,Sushil Agarwal,JITOAngelNetworkLetsVenture,$1000000,NaN

In [74]:
final_df.What_it_does.unique()

array(['Unbox Robotics builds on-demand AI-driven warehouse robotics solutions, which can be deployed using limited foot-print, time, and capital.',
       'UpGrad is an online higher education platform.',
       'LEAD School offers technology based school transformation system that assures excellent learning for every child.',
       ...,
       'Mombay is a unique opportunity for housewives to start household food business and avail everyone with their homemade healthy dishes.',
       'Droni Tech manufacture UAVs and develop software to service a range of industry requirements.',
       "Welcome to India's most convenient pharmacy!"], dtype=object)

In [75]:
final_df.HeadQuarter.unique()

array(['Bangalore', 'Mumbai', 'Gurugram', 'New Delhi', 'Hyderabad',
       'Jaipur', 'Ahmadabad', 'Chennai', None,
       'Small Towns, Andhra Pradesh', 'Goa', 'Rajsamand', 'Ranchi',
       'Faridabad, Haryana', 'Gujarat', 'Pune', 'Thane', 'Computer Games',
       'Cochin', 'Noida', 'Chandigarh', 'Gurgaon', 'Vadodara',
       'Food & Beverages', 'Pharmaceuticals\t#REF!', 'Gurugram\t#REF!',
       'Kolkata', 'Ahmedabad', 'Mohali', 'Haryana', 'Indore', 'Powai',
       'Ghaziabad', 'Nagpur', 'West Bengal', 'Patna', 'Samsitpur',
       'Lucknow', 'Telangana', 'Silvassa', 'Thiruvananthapuram',
       'Faridabad', 'Roorkee', 'Ambernath', 'Panchkula', 'Surat',
       'Coimbatore', 'Andheri', 'Mangalore', 'Telugana', 'Bhubaneswar',
       'Kottayam', 'Beijing', 'Panaji', 'Satara', 'Orissia', 'Jodhpur',
       'New York', 'Santra', 'Mountain View, CA', 'Trivandrum',
       'Jharkhand', 'Kanpur', 'Bhilwara', 'Guwahati',
       'Online Media\t#REF!', 'Kochi', 'London',
       'Information Technology & Services', 'The Nilgiris', 'Gandhinagar',
       'Belgaum', 'Tirunelveli, Tamilnadu', 'Singapore', 'Kerala',
       'Jaipur, Rajastan', 'Delhi', 'Frisco, Texas, United States',
       'California', 'Dhingsara, Haryana', 'New York, United States',
       'San Francisco, California, United States',
       'San Francisco, United States', 'San Ramon, California',
       'Paris, Ile-de-France, France', 'Plano, Texas, United States',
       'Sydney', 'San Francisco Bay Area, Silicon Valley, West Coast',
       'Bangaldesh', 'London, England, United Kingdom',
       'Sydney, New South Wales, Australia', 'Milano, Lombardia, Italy',
       'Palmwoods, Queensland, Australia', 'France',
       'San Francisco Bay Area, West Coast, Western US',
       'Trivandrum, Kerala, India', 'Samastipur, Bihar',
       'Irvine, California, United States', 'Tumkur, Karnataka',
       'Newcastle Upon Tyne, Newcastle upon Tyne, United Kingdom',
       'Shanghai, China', 'Jiaxing, Zhejiang, China', 'Rajastan',
       'Ludhiana', 'Dehradun', 'San Franciscao', 'San Francisco',
       'Tangerang, Jawa Barat, Indonesia', 'Berlin', 'Seattle', 'Riyadh',
       'Seoul', 'Bangkok', 'Warangal', 'Hyderebad', 'Odisha', 'Bihar',
       'Tamil Nadu', 'Uttar Pradesh', 'Bhopal', 'Banglore', 'Bengaluru',
       nan, 'Uttar pradesh', 'Rajasthan', 'Bangalore, Karnataka, India',
       'Mumbai, Maharashtra, India', 'Gurgaon, Haryana, India',
       'Noida, Uttar Pradesh, India', 'Hyderabad, Andhra Pradesh, India',
       'Bengaluru, Karnataka, India', 'Kalkaji, Delhi, India',
       'Delhi, Delhi, India', 'India, Asia', 'Hubli, Karnataka, India',
       'New Delhi, Delhi, India', 'Chennai, Tamil Nadu, India',
       'Mohali, Punjab, India', 'Kolkata, West Bengal, India',
       'Pune, Maharashtra, India', 'Jodhpur, Rajasthan, India',
       'Kanpur, Uttar Pradesh, India', 'Ahmedabad, Gujarat, India',
       'Azadpur, Delhi, India', 'Haryana, Haryana, India',
       'Cochin, Kerala, India', 'Faridabad, Haryana, India',
       'Jaipur, Rajasthan, India', 'Kota, Rajasthan, India',
       'Anand, Gujarat, India', 'Bangalore City, Karnataka, India',
       'Belgaum, Karnataka, India', 'Thane, Maharashtra, India',
       'Margão, Goa, India', 'Indore, Madhya Pradesh, India',
       'Alwar, Rajasthan, India', 'Kannur, Kerala, India',
       'Ernakulam, Kerala, India', 'Kormangala, Karnataka, India',
       'Uttar Pradesh, India, Asia', 'Andheri, Maharashtra, India',
       'Mylapore, Tamil Nadu, India', 'Ghaziabad, Uttar Pradesh, India',
       'Kochi, Kerala, India', 'Powai, Assam, India',
       'Guntur, Andhra Pradesh, India', 'Kalpakkam, Tamil Nadu, India',
       'Bhopal, Madhya Pradesh, India', 'Coimbatore, Tamil Nadu, India',
       'Worli, Maharashtra, India', 'Alleppey, Kerala, India',
       'Chandigarh, Chandigarh, India', 'Guindy, Tamil Nadu, India',
       'Lucknow, Uttar Pradesh, India'], dtype=object)

In [72]:
final_df.Founders.unique()

array(['Pramod Ghadge, Shahid Memon',
       'Mayank Kumar, Phalgun Kompalli, Ravijot Chugh, Ronnie Screwvala',
       'Smita Deorah, Sumeet Mehta', ..., 'Pavan Kushwaha',
       'Jeevan Chowdary M, Harshit Harchani',
       'Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mohit Gupta'],
      dtype=object)

In [73]:
final_df.Investor.unique()

array(['BEENEXT, Entrepreneur First',
       'Unilazer Ventures, IIFL Asset Management',
       'GSV Ventures, Westbridge Capital', ...,
       'Norwest Venture Partners, General Catalyst, Fundamentum, Accel Partners',
       'TPG, Norwest Venture Partners, Evolvence India', nan],
      dtype=object)