# Investigating the indian ecosystem and to propose the best indian start-up to invest

## Description
The objective of this project is to analyse the indian start-up investment data over the course of four years (2018-2021) to find out which funding stages are very attractive to investors and at what risk level.

## Assumptions
- All currencies is in USD
- 82 Lahk/USD

## Null Hypothesis 
Average Investment amounts received by start-ups have no relation to sectors they operate in.

# Alternate Hypothesis
There is a relationship between average investment amounts received by start-ups and the sectors they operate in

## Analytical Questions
1. Does location affect the amount of funding or investments?
2. Does the sector of start up affect the fundings?
3. How many companies need funding and are at what level of funding ?
4. Which sectors receive the highest investment amounts?
5. Which cities have the highest number of startups and at what levels?
6. What are the levels of funding the startups are receiving?

# GOAL
`
The goal of this project is to propose the best indian start-up to invest.

In [1]:
#Libraries imported
import MySQLdb
import sqlalchemy as sa
import pyodbc     
from dotenv import dotenv_values    #import the dotenv_values function from the dotenv package
import pandas as pd
import warnings

In [2]:
env_variables= dotenv_values('logins.env')
database= env_variables.get('database')
server = env_variables.get('server')
username = env_variables.get('username')
password = env_variables.get('password')

# Data Understanding

- There are four data sources to work with (2 SQL and 2 CSVs)
- Explore data
- Verify data quality

### Connecting to the dapDB to extract the 2020 and 2021 data

In [3]:
#Connecting to the database to analyse the 2020-2021 data

connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"
connection = pyodbc.connect(connection_string)

In [4]:
#query the 2020 startup funding data

query = "SELECT * FROM LP1_startup_funding2020"

data_2020 = pd.read_sql(query, connection)
data_2020.columns

c:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'column10'],
      dtype='object')

In [5]:
data_2020.head(2)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None

In [6]:
data_2020.Amount.unique()

array([2.0000000e+05, 1.0000000e+05,           nan, 4.0000000e+05,
       3.4000000e+05, 6.0000000e+05, 4.5000000e+07, 1.0000000e+06,
       2.0000000e+06, 1.2000000e+06, 6.6000000e+08, 1.2000000e+05,
       7.5000000e+06, 5.0000000e+06, 5.0000000e+05, 3.0000000e+06,
       1.0000000e+07, 1.4500000e+08, 1.0000000e+08, 2.1000000e+07,
       4.0000000e+06, 2.0000000e+07, 5.6000000e+05, 2.7500000e+05,
       4.5000000e+06, 1.5000000e+07, 3.9000000e+08, 7.0000000e+06,
       5.1000000e+06, 7.0000000e+08, 2.3000000e+06, 7.0000000e+05,
       1.9000000e+07, 9.0000000e+06, 4.0000000e+07, 7.5000000e+05,
       1.5000000e+06, 7.8000000e+06, 5.0000000e+07, 8.0000000e+07,
       3.0000000e+07, 1.7000000e+06, 2.5000000e+06, 4.0000000e+04,
       3.3000000e+07, 3.5000000e+07, 3.0000000e+05, 2.5000000e+07,
       3.5000000e+06, 2.0000000e+08, 6.0000000e+06, 1.3000000e+06,
       4.1000000e+06, 5.7500000e+05, 8.0000000e+05, 2.8000000e+07,
       1.8000000e+07, 3.2000000e+06, 9.0000000e+05, 2.5000000e+05,
       4.7000000e+06, 7.5000000e+07, 8.0000000e+06, 1.2100000e+08,
       5.5000000e+07, 3.3000000e+06, 1.1000000e+07, 1.6000000e+07,
       5.4000000e+06, 1.5000000e+08, 4.2000000e+06, 2.2000000e+07,
       5.2000000e+07, 1.1000000e+06, 1.1800000e+08, 1.6000000e+06,
       1.8500000e+07, 7.0000000e+10, 8.0000000e+08, 4.0000000e+08,
       1.5000000e+05, 1.7600000e+08, 6.0000000e+07, 4.7000000e+05,
       2.4000000e+05, 3.0000000e+09, 7.4000000e+07, 6.2000000e+07,
       2.1000000e+06, 5.0000000e+08, 1.2500000e+07, 2.2000000e+09,
       5.0600000e+06, 2.2500000e+08, 2.4700000e+07, 7.7000000e+06,
       1.9067328e+07, 5.1000000e+07, 1.1500000e+05, 5.4000000e+04,
       2.0000000e+04, 8.0314600e+05, 2.3800000e+05, 1.0220000e+07,
       1.0200000e+06, 1.2000000e+07, 1.3400000e+07, 1.7000000e+08,
       2.9000000e+06, 5.4300000e+05, 9.0000000e+07, 3.4000000e+06,
       2.3000000e+07, 8.0900000e+06, 1.0300000e+06, 5.0400000e+06,
       3.6000000e+05, 1.4000000e+06, 6.5000000e+05, 5.4000000e+07,
       4.2500000e+07, 1.1370000e+07, 3.2500000e+05, 4.1000000e+05,
       4.5000000e+05, 6.8200000e+05, 4.0500000e+06, 1.0500000e+06,
       1.0800000e+06, 4.3000000e+06, 6.8000000e+06, 2.1100000e+06,
       7.6400000e+05, 6.0300000e+05, 4.0900000e+05, 2.9200000e+05,
       2.8600000e+05, 1.3600000e+05, 5.4600000e+05, 8.8700000e+05,
       4.3000000e+04, 4.0900000e+04, 2.2000000e+06, 5.6600000e+06,
       3.5000000e+05, 1.1000000e+05, 1.2200000e+08, 1.1635000e+07,
       2.8000000e+06, 1.0650000e+06, 6.6900000e+05, 1.6076000e+07,
       6.4960000e+05, 6.7000000e+06, 2.2000000e+05, 2.6650000e+05,
       2.8790000e+06, 2.6500000e+07, 3.5100000e+05, 4.6761000e+07,
       1.7500000e+05, 1.1241000e+07, 8.0400000e+05, 1.3400000e+06,
       4.6700000e+05, 1.3300000e+05, 3.8230000e+06, 9.3400000e+05,
       2.9300000e+05, 1.9800000e+05, 9.2700000e+05, 9.7100000e+05,
       3.0600000e+06, 1.8620000e+06, 2.3200000e+05, 2.8880000e+06,
       1.3280000e+06, 1.5500000e+07, 5.6000000e+07, 2.2500000e+06,
       1.6753000e+07, 3.7000000e+06, 1.4700000e+06, 5.3000000e+05,
       2.6700000e+05, 3.3440000e+06, 7.2000000e+06, 2.7430000e+06,
       6.0820000e+06, 6.6090000e+06, 2.7700000e+07, 5.9400000e+06,
       3.9640000e+06, 5.5000000e+06, 1.9700000e+05, 4.3270000e+06,
       4.5900000e+05, 3.9370000e+06, 1.3135000e+06, 2.2980000e+05,
       5.3050000e+06, 2.6400000e+05, 1.7500000e+06, 5.9670000e+06,
       2.9800000e+06, 3.2300000e+05, 1.3260000e+06, 2.7000000e+07,
       5.2000000e+06, 2.5300000e+06, 7.9200000e+05, 1.1363000e+07,
       1.7150000e+06, 3.2900000e+05, 5.2710000e+06, 8.7000000e+06,
       3.2260000e+06, 5.9000000e+06, 4.4000000e+07, 3.8790000e+06,
       1.3000000e+07, 8.8000000e+06, 9.5000000e+06, 9.2000000e+05,
       3.5600000e+07, 9.4000000e+06, 7.9000000e+05, 4.8000000e+05,
       1.6000000e+05, 8.2000000e+06, 4.2570000e+06, 1.4100000e+06,
       3.4980000e+05, 7.8600000e+05, 2.0040000e+06, 1.2300000e+08,
       2.4800000e+05, 2.4000000e+07, 1.4259000e+07, 2.4500000e+07,
       3.8000000e+06, 1.8370000e+07, 6.8525000e+07, 4.8000000e+06,
       1.8340000e+06, 2.3850000e+07, 4.3000000e+07, 2.1600000e+07,
       4.5980000e+06, 1.3137000e+07, 1.1500000e+08, 3.9000000e+06,
       6.7000000e+05, 8.5000000e+06, 3.1480000e+06, 2.6000000e+06,
       4.0495000e+06, 1.0500000e+07, 6.5000000e+06, 4.3700000e+07,
       1.3800000e+07, 3.0690000e+05, 4.2000000e+05, 6.2730000e+05,
       1.1300000e+08, 3.2000000e+07, 1.1000000e+08, 1.3970000e+06,
       4.4850000e+05, 7.9757000e+06, 3.3000000e+05, 5.6000000e+06,
       1.4020000e+06, 2.1500000e+07, 2.9600000e+08, 4.9000000e+06,
       1.4024000e+06, 1.2618300e+07, 9.9000000e+06, 9.8253000e+05,
       7.0185200e+07, 2.1000000e+08, 8.4000000e+07, 3.9000000e+07,
       2.7000000e+06, 1.4034000e+06, 1.0500000e+08, 1.0300000e+08,
       2.8130000e+05, 1.2700000e+04, 2.5000000e+04, 9.7500000e+07,
       5.0700000e+05, 8.4000000e+06, 1.8300000e+07, 1.2500000e+08,
       1.8100000e+05, 2.8000000e+05, 1.4700000e+07, 1.3200000e+07,
       8.0430000e+06])

In [7]:
#query the 2021 startup funding data
query = "SELECT * FROM LP1_startup_funding2021"

data_2021 = pd.read_sql(query, connection)
data_2021.head(5)

c:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [8]:
data_2021.Amount.unique()

array(['$1,200,000', '$120,000,000', '$30,000,000', '$51,000,000',
       '$2,000,000', '$188,000,000', '$200,000', 'Undisclosed',
       '$1,000,000', '$3,000,000', '$100,000', '$700,000', '$9,000,000',
       '$40,000,000', '$49,000,000', '$400,000', '$300,000',
       '$25,000,000', '$160,000,000', '$150,000', '$1,800,000',
       '$5,000,000', '$850,000', '$53,000,000', '$500,000', '$1,100,000',
       '$6,000,000', '$800,000', '$10,000,000', '$21,000,000',
       '$7,500,000', '$26,000,000', '$7,400,000', '$1,500,000',
       '$600,000', '$800,000,000', '$17,000,000', '$3,500,000',
       '$15,000,000', '$215,000,000', '$2,500,000', '$350,000,000',
       '$5,500,000', '$83,000,000', '$110,000,000', '$500,000,000',
       '$65,000,000', '$150,000,000,000', '$300,000,000', '$2,200,000',
       '$35,000,000', '$140,000,000', '$4,000,000', '$13,000,000', None,
       '$Undisclosed', '$2000000', '$800000', '$6000000', '$2500000',
       '$9500000', '$13000000', '$5000000', '$8000000', '$1000000',
       'Upsparks', '$200000', '$12000000', '$1500000', '$1700000',
       '$5500000', '$400000', '$150000000', '$4000000', '$100000000',
       '$500000', '$15000000', '$10000000', '$40000000', '$225000000',
       '$6700000', '$1300000', '$20000000', '$250000', '$21000000',
       '$1200000', '$52000000', '$3800000', '$17500000', '$42000000',
       '$2300000', '$7000000', '$30000000', '$450000000', '$28000000',
       '$300000', '$3500000', '$8500000', '$25000000', '$3000000',
       '$37000000', '$370000000', '$700000', '$16000000', '$100000',
       '$44000000', '$770000', '$125000000', '$35000000', '$50000000',
       '$4900000', '$145000000', '$22000000', '$70000000', '$6600000',
       '$32000000', '$24000000', '$725000', '$461000', 'Series C', 'Seed',
       '$96000000', '$60000000', '$500000000', '$266000000', '$4500000',
       '$325000000', '$6500000', '$1600000', '$150000', '$225000',
       '$85000000', '$235000', '$260000', '$2900000', '$53000000',
       '$1100000', '$86000000', '$130000', '$$100,00', '$111000000',
       '$265000', '$76000000', '$100,000,000', '$75,000,000',
       '$3,800,000', '$12,000,000', '$1,600,000', '$260,000',
       '$1,000,000,000', '$18,000,000', '$20,000,000', '$350,000',
       '$95,000,000', '$4,100,000', '$5,200,000', '$8,000,000',
       '$1,400,000', '$2,600,000', '$900,000', '$250,000', '$16,000,000',
       '$7,000,000', '$11,000,000', '$280,000,000', '$50,000,000',
       '$14,300,000', '$81,000,000', '$1,300,000', '$8,200,000',
       '$70,000,000', '$720,000', '$600000', '$9000000', '$1800000',
       '$330000', '$undisclosed', '$200000000', '$36000000', '$67000000',
       '$10200000', '$220000000', '$108000000', '$75000000', '$450000',
       '$660000000', 'ah! Ventures', '$45000000', '$3200000', '$370000',
       'Pre-series A', 'ITO Angel Network, LetsVenture', '$48000000',
       '$3600000', '$11000000', '$192000000', '$65000000', '$1400000',
       '$1900000', '$41000000', '$144000000', '$5200000', '$270000000',
       '$140000', '$250000000', '$320000', '$350000000', '$4800000',
       '$38000000', '$125000', '$26000000', '$64000000', '$620000',
       '$900000', 'JITO Angel Network, LetsVenture', '$2600000',
       '$1,250,000', '$400,000,000', '$1,700,000', '$27,000,000',
       '$234,000,000', '$460,000,000', '$13,500,000', '$5,100,000',
       '$195,000,000', '$125,000', '$45,000,000', '$200,000,000',
       '$7,300,000', '$6,300,000', '$12,500,000', '$24,000,000',
       '$140,000', '$16,500,000', '$340,000', '$43,000,000',
       '$150,000,000', '$3300000', '$92000000', '$17000000', '$135000000',
       '$$1,55,000', '$2100000', '$840000000', '$248000000', '$4300000',
       '$570000', '$2200000', '$4700000', '$300000000', '$260000000',
       '$140000000', '$175000000', '$19000000', '$810000', '$7500000',
       '$600000000', '$90000000', '$5700000', '$6750000', '$78000000',
       '$5400000', '$115000000', '$255000000', '$18000000', '$570000000',
       '$550000', '$2700000', '$4200000', '$31000000', '$540000',
       '$14000000', '$340000', '$', '$6200000', '$750000', '$6300000',
       '$23000000', '$55000000'], dtype=object)

In [9]:
#Checking for data entry errors
test=data_2021.query('Amount==["SeriesC","Seed","Upsparks"]')
test

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
98,FanPlay,2020.0,Computer Games,Computer Games,A real money game app specializing in trivia g...,YC W21,"Pritesh Kumar, Bharat Gupta",Upsparks,$1200000
111,FanPlay,2020.0,Computer Games,Computer Games,A real money game app specializing in trivia g...,YC W21,"Pritesh Kumar, Bharat Gupta",Upsparks,$1200000
257,MoEVing,2021.0,Gurugram\t#REF!,MoEVing is India's only Electric Mobility focu...,"Vikash Mishra, Mragank Jain","Anshuman Maheshwary, Dr Srihari Raju Kalidindi",$5000000,Seed,None
1148,Godamwale,2016.0,Mumbai,Logistics & Supply Chain,Godamwale is tech enabled integrated logistics...,"Basant Kumar, Vivek Tiwari, Ranbir Nandan",1000000\t#REF!,Seed,None

In [10]:
#Reading 2018 and 2019 data from the csv files

data_2018=pd.read_csv('startup_funding_2018_2019\startup_funding2018.csv')
data_2018.head(5)

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [11]:
data_2019=pd.read_csv('startup_funding_2018_2019\startup_funding2019.csv')
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [12]:
#Changing column names of 2019 data to match all other datasets
data_2019.rename(columns={'Company/Brand':'Company_Brand', 'What it does':'What_it_does', 'Amount($)':'Amount'}, inplace=True)
data_2019.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')

In [13]:
#Changing column names of 2018 data to match all other datasets
data_2018.rename(columns={'Company Name':'Company_Brand','Industry':'Sector', 'Round/Series':'Stage', 'Location':'HeadQuarter', 'About Company':'What_it_does'}, inplace=True)
data_2018.head(5)

,Company_Brand,Sector,Stage,Amount,HeadQuarter,What_it_does
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

### Merging datasets

In [14]:
#Concating 2020 and 2021 data since they have a similar structure
pd.set_option('display.max_rows', None)
final_df = pd.concat([data_2021,data_2020,data_2019,data_2018],axis=0,ignore_index=True)
final_df.head(5)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A,NaN
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None,NaN
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D,NaN
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C,NaN
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed,NaN

In [15]:
#Saving the combined dataset to xlsx
final_df.to_excel("startup_funding_2018_2019\combined.xlsx",index=False,
             sheet_name='2018_to_2021')

# Data Cleaning & Exploration

In [16]:
#Considering the columns of interest and reindexing
df= pd.read_excel('startup_funding_2018_2019\complete_data.xlsx')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  2879 non-null   object
 1   Founded        2110 non-null   float64
 2   HeadQuarter    2764 non-null   object
 3   Sector         2861 non-null   object
 4   What_it_does   2879 non-null   object
 5   Founders       2334 non-null   object
 6   Investor       1264 non-null   object
 7   Amount         1743 non-null   object
 8   Stage          1262 non-null   object
 9   column10       3 non-null      object
dtypes: float64(1), object(9)
memory usage: 225.0+ KB

In [17]:
df.shape

(2879, 10)

In [18]:
#Removing the Lahk symbol
lahk_investment=df[df['Amount'].str.contains('₹', na = False)]
lahk_investment.Amount=lahk_investment.Amount.str.replace('\W', '', regex=True).astype(float)
lahk_investment.Amount=(lahk_investment.Amount )/ 82 #Converting to dollar denomination
lahk_investment.head(2)

C:\Users\chrap\AppData\Local\Temp\ipykernel_36604\171895789.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lahk_investment.Amount=lahk_investment.Amount.str.replace('\W', '', regex=True).astype(float)
C:\Users\chrap\AppData\Local\Temp\ipykernel_36604\171895789.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lahk_investment.Amount=(lahk_investment.Amount )/ 82 #Converting to dollar denomination

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
2354,Happy Cow Dairy,NaN,"Mumbai, Maharashtra, India","Agriculture, Farming",A startup which aggregates milk from dairy far...,NaN,NaN,487804.878049,Seed,NaN
2355,MyLoanCare,NaN,"Gurgaon, Haryana, India","Credit, Financial Services, Lending, Marketplace",Leading Online Loans Marketplace in India,NaN,NaN,792682.926829,Series A,NaN

In [19]:
#Removing the dollar symbol
dollar_investment=df[df['Amount'].str.contains('$', na = False)]
dollar_investment.Amount=dollar_investment.Amount.str.replace('\W', '', regex=True)
dollar_investment.head(2)

C:\Users\chrap\AppData\Local\Temp\ipykernel_36604\870280509.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dollar_investment.Amount=dollar_investment.Amount.str.replace('\W', '', regex=True)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First",1200000,Pre-series A,NaN
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management",120000000,NaN,NaN

In [20]:
#Merging the removed symbols with the original dataset
f_df = pd.concat([df,dollar_investment,lahk_investment],axis=0,ignore_index=True)
f_df.shape

(3965, 10)

In [21]:
#Dropping duplicates from the original dataset to maintain the 'removed symbols' rows
f_df.drop_duplicates(subset=['Stage','Founded','Founders','Company_Brand','HeadQuarter','Investor','Sector','What_it_does','column10'],  keep='last', inplace=True, ignore_index=False)
f_df.shape

(2843, 10)

In [22]:
#Finding the number of nan in each column
f_df.isna().sum()

Company_Brand       0
Founded           768
HeadQuarter       115
Sector             18
What_it_does        0
Founders          544
Investor         1588
Amount           1110
Stage            1586
column10         2840
dtype: int64

In [23]:
#Dropping empty rows in the Stage and Amount columns
wd=f_df.dropna(  how='any', subset=['Amount','Stage'])
wd.dropna(subset = ['Amount','Stage'], inplace = True) 
wd.shape

C:\Users\chrap\AppData\Local\Temp\ipykernel_36604\802069553.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wd.dropna(subset = ['Amount','Stage'], inplace = True)

(1142, 10)

In [24]:
for m in am:
    v=str(m)
    if v.startswith('₹'):
        b=v.split("₹")[1]

        
        print(b)

NameError: name 'am' is not defined

In [ ]:
#Not done yet
final_df.query('Stage==["$6000000","$300000","$1000000"]')

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
538,Little Leap,2020.0,New Delhi,EdTech,Soft Skills that make Smart Leaders,Holistic Development Programs for children in ...,Vishal Gupta,ah! Ventures,$300000,NaN
551,BHyve,2020.0,Mumbai,Human Resources,A Future of Work Platform for diffusing Employ...,Backed by 100x.VC,"Omkar Pandharkame, Ketaki Ogale","ITO Angel Network, LetsVenture",$300000,NaN
674,MYRE Capital,2020.0,Mumbai,Commercial Real Estate,Democratising Real Estate Ownership,Own rent yielding commercial properties,Aryaman Vir,None,$6000000,NaN
677,Saarthi Pedagogy,2015.0,Ahmadabad,EdTech,"India's fastest growing Pedagogy company, serv...",Pedagogy,Sushil Agarwal,"JITO Angel Network, LetsVenture",$1000000,NaN

In [ ]:
final_df.What_it_does.unique()

array(['Unbox Robotics builds on-demand AI-driven warehouse robotics solutions, which can be deployed using limited foot-print, time, and capital.',
       'UpGrad is an online higher education platform.',
       'LEAD School offers technology based school transformation system that assures excellent learning for every child.',
       ...,
       'Mombay is a unique opportunity for housewives to start household food business and avail everyone with their homemade healthy dishes.',
       'Droni Tech manufacture UAVs and develop software to service a range of industry requirements.',
       "Welcome to India's most convenient pharmacy!"], dtype=object)

In [ ]:
final_df.HeadQuarter.unique()

array(['Bangalore', 'Mumbai', 'Gurugram', 'New Delhi', 'Hyderabad',
       'Jaipur', 'Ahmadabad', 'Chennai', None,
       'Small Towns, Andhra Pradesh', 'Goa', 'Rajsamand', 'Ranchi',
       'Faridabad, Haryana', 'Gujarat', 'Pune', 'Thane', 'Computer Games',
       'Cochin', 'Noida', 'Chandigarh', 'Gurgaon', 'Vadodara',
       'Food & Beverages', 'Pharmaceuticals\t#REF!', 'Gurugram\t#REF!',
       'Kolkata', 'Ahmedabad', 'Mohali', 'Haryana', 'Indore', 'Powai',
       'Ghaziabad', 'Nagpur', 'West Bengal', 'Patna', 'Samsitpur',
       'Lucknow', 'Telangana', 'Silvassa', 'Thiruvananthapuram',
       'Faridabad', 'Roorkee', 'Ambernath', 'Panchkula', 'Surat',
       'Coimbatore', 'Andheri', 'Mangalore', 'Telugana', 'Bhubaneswar',
       'Kottayam', 'Beijing', 'Panaji', 'Satara', 'Orissia', 'Jodhpur',
       'New York', 'Santra', 'Mountain View, CA', 'Trivandrum',
       'Jharkhand', 'Kanpur', 'Bhilwara', 'Guwahati',
       'Online Media\t#REF!', 'Kochi', 'London',
       'Information Technology & Services', 'The Nilgiris', 'Gandhinagar',
       'Belgaum', 'Tirunelveli, Tamilnadu', 'Singapore', 'Kerala',
       'Jaipur, Rajastan', 'Delhi', 'Frisco, Texas, United States',
       'California', 'Dhingsara, Haryana', 'New York, United States',
       'San Francisco, California, United States',
       'San Francisco, United States', 'San Ramon, California',
       'Paris, Ile-de-France, France', 'Plano, Texas, United States',
       'Sydney', 'San Francisco Bay Area, Silicon Valley, West Coast',
       'Bangaldesh', 'London, England, United Kingdom',
       'Sydney, New South Wales, Australia', 'Milano, Lombardia, Italy',
       'Palmwoods, Queensland, Australia', 'France',
       'San Francisco Bay Area, West Coast, Western US',
       'Trivandrum, Kerala, India', 'Samastipur, Bihar',
       'Irvine, California, United States', 'Tumkur, Karnataka',
       'Newcastle Upon Tyne, Newcastle upon Tyne, United Kingdom',
       'Shanghai, China', 'Jiaxing, Zhejiang, China', 'Rajastan',
       'Ludhiana', 'Dehradun', 'San Franciscao', 'San Francisco',
       'Tangerang, Jawa Barat, Indonesia', 'Berlin', 'Seattle', 'Riyadh',
       'Seoul', 'Bangkok', 'Warangal', 'Hyderebad', 'Odisha', 'Bihar',
       'Tamil Nadu', 'Uttar Pradesh', 'Bhopal', 'Banglore', 'Bengaluru',
       nan, 'Uttar pradesh', 'Rajasthan', 'Bangalore, Karnataka, India',
       'Mumbai, Maharashtra, India', 'Gurgaon, Haryana, India',
       'Noida, Uttar Pradesh, India', 'Hyderabad, Andhra Pradesh, India',
       'Bengaluru, Karnataka, India', 'Kalkaji, Delhi, India',
       'Delhi, Delhi, India', 'India, Asia', 'Hubli, Karnataka, India',
       'New Delhi, Delhi, India', 'Chennai, Tamil Nadu, India',
       'Mohali, Punjab, India', 'Kolkata, West Bengal, India',
       'Pune, Maharashtra, India', 'Jodhpur, Rajasthan, India',
       'Kanpur, Uttar Pradesh, India', 'Ahmedabad, Gujarat, India',
       'Azadpur, Delhi, India', 'Haryana, Haryana, India',
       'Cochin, Kerala, India', 'Faridabad, Haryana, India',
       'Jaipur, Rajasthan, India', 'Kota, Rajasthan, India',
       'Anand, Gujarat, India', 'Bangalore City, Karnataka, India',
       'Belgaum, Karnataka, India', 'Thane, Maharashtra, India',
       'Margão, Goa, India', 'Indore, Madhya Pradesh, India',
       'Alwar, Rajasthan, India', 'Kannur, Kerala, India',
       'Ernakulam, Kerala, India', 'Kormangala, Karnataka, India',
       'Uttar Pradesh, India, Asia', 'Andheri, Maharashtra, India',
       'Mylapore, Tamil Nadu, India', 'Ghaziabad, Uttar Pradesh, India',
       'Kochi, Kerala, India', 'Powai, Assam, India',
       'Guntur, Andhra Pradesh, India', 'Kalpakkam, Tamil Nadu, India',
       'Bhopal, Madhya Pradesh, India', 'Coimbatore, Tamil Nadu, India',
       'Worli, Maharashtra, India', 'Alleppey, Kerala, India',
       'Chandigarh, Chandigarh, India', 'Guindy, Tamil Nadu, India',
       'Lucknow, Uttar Pradesh, India'], dtype=object)

In [ ]:
final_df.Founders.unique()

array(['Pramod Ghadge, Shahid Memon',
       'Mayank Kumar, Phalgun Kompalli, Ravijot Chugh, Ronnie Screwvala',
       'Smita Deorah, Sumeet Mehta', ..., 'Pavan Kushwaha',
       'Jeevan Chowdary M, Harshit Harchani',
       'Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mohit Gupta'],
      dtype=object)

In [ ]:
final_df.Investor.unique()

array(['BEENEXT, Entrepreneur First',
       'Unilazer Ventures, IIFL Asset Management',
       'GSV Ventures, Westbridge Capital', ...,
       'Norwest Venture Partners, General Catalyst, Fundamentum, Accel Partners',
       'TPG, Norwest Venture Partners, Evolvence India', nan],
      dtype=object)

In [ ]:
test

for row in test.index:
    print(row)
    row_list = test.loc[row, :].values.flatten().tolist()
    row_list
#row_list = test.loc[98, :].values.flatten().tolist()

98
111
257
1148

In [ ]:
row_list

['Godamwale',
 2016.0,
 'Mumbai',
 'Logistics & Supply Chain',
 'Godamwale is tech enabled integrated logistics company providing end to end supply chain solutions.',
 'Basant Kumar, Vivek Tiwari, Ranbir Nandan',
 '1000000\t#REF!',
 'Seed',
 None]

In [ ]:

for i in row_list:
    # Remove letters using string manipulation
    
    if isinstance(i, str):
       s = ''.join(filter(str.isdigit, i))
      
       
    else: 
       pass  
print(row_list)

['Godamwale', 2016.0, 'Mumbai', 'Logistics & Supply Chain', 'Godamwale is tech enabled integrated logistics company providing end to end supply chain solutions.', 'Basant Kumar, Vivek Tiwari, Ranbir Nandan', '1000000\t#REF!', 'Seed', None]