# Investigating the Indian startup ecosystem to propose the best indian start-up to invest

## Description
The objective of this project is to analyse the indian start-up investment data over the course of four years (2018-2021) to find out which funding stages are very attractive to investors and at what risk level.

# GOAL
The goal of this project is to propose the best indian start-up to invest.

## Null Hypothesis 
Average Investment amounts received by start-ups have no relation to sectors they operate in.

## Alternate Hypothesis
There is a relationship between average investment amounts received by start-ups and the sectors they operate in

## Analytical Questions
1. Does location affect the amount of funding or investments?
2. Does the sector of start up affect the fundings?
3. How many companies need funding and are at what level of funding ?
4. Which sectors receive the highest investment amounts?
5. Which cities have the highest number of startups and at what levels?
6. What are the levels of funding the startups are receiving?

In [259]:
#Libraries imported
import MySQLdb
import sqlalchemy as sa
import pyodbc     
from dotenv import dotenv_values    #import the dotenv_values function from the dotenv package
import pandas as pd
import warnings

In [260]:
env_variables= dotenv_values('logins.env')
database= env_variables.get('database')
server = env_variables.get('server')
username = env_variables.get('username')
password = env_variables.get('password')

# Data Understanding

- There are four data sources to work with (2 SQL and 2 CSVs)
- Explore data
- Verify data quality

### Connecting to the dapDB to extract the 2020 and 2021 data

In [261]:
#Connecting to the database to analyse the 2020-2021 data

connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"
connection = pyodbc.connect(connection_string)

In [262]:
#query the 2020 startup funding data

query = "SELECT * FROM LP1_startup_funding2020"

data_2020 = pd.read_sql(query, connection)
data_2020.columns

c:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'column10'],
      dtype='object')

In [263]:
data_2020.head(2)
data_2020['Investment_year'] = '2020'

In [264]:
#Checking the datatypes of the columns
datatypes = data_2020.dtypes
datatypes

Company_Brand       object
Founded            float64
HeadQuarter         object
Sector              object
What_it_does        object
Founders            object
Investor            object
Amount             float64
Stage               object
column10            object
Investment_year     object
dtype: object

In [265]:
data_2020.Amount.unique()

array([2.0000000e+05, 1.0000000e+05,           nan, 4.0000000e+05,
       3.4000000e+05, 6.0000000e+05, 4.5000000e+07, 1.0000000e+06,
       2.0000000e+06, 1.2000000e+06, 6.6000000e+08, 1.2000000e+05,
       7.5000000e+06, 5.0000000e+06, 5.0000000e+05, 3.0000000e+06,
       1.0000000e+07, 1.4500000e+08, 1.0000000e+08, 2.1000000e+07,
       4.0000000e+06, 2.0000000e+07, 5.6000000e+05, 2.7500000e+05,
       4.5000000e+06, 1.5000000e+07, 3.9000000e+08, 7.0000000e+06,
       5.1000000e+06, 7.0000000e+08, 2.3000000e+06, 7.0000000e+05,
       1.9000000e+07, 9.0000000e+06, 4.0000000e+07, 7.5000000e+05,
       1.5000000e+06, 7.8000000e+06, 5.0000000e+07, 8.0000000e+07,
       3.0000000e+07, 1.7000000e+06, 2.5000000e+06, 4.0000000e+04,
       3.3000000e+07, 3.5000000e+07, 3.0000000e+05, 2.5000000e+07,
       3.5000000e+06, 2.0000000e+08, 6.0000000e+06, 1.3000000e+06,
       4.1000000e+06, 5.7500000e+05, 8.0000000e+05, 2.8000000e+07,
       1.8000000e+07, 3.2000000e+06, 9.0000000e+05, 2.5000000e+05,
       4.7000000e+06, 7.5000000e+07, 8.0000000e+06, 1.2100000e+08,
       5.5000000e+07, 3.3000000e+06, 1.1000000e+07, 1.6000000e+07,
       5.4000000e+06, 1.5000000e+08, 4.2000000e+06, 2.2000000e+07,
       5.2000000e+07, 1.1000000e+06, 1.1800000e+08, 1.6000000e+06,
       1.8500000e+07, 7.0000000e+10, 8.0000000e+08, 4.0000000e+08,
       1.5000000e+05, 1.7600000e+08, 6.0000000e+07, 4.7000000e+05,
       2.4000000e+05, 3.0000000e+09, 7.4000000e+07, 6.2000000e+07,
       2.1000000e+06, 5.0000000e+08, 1.2500000e+07, 2.2000000e+09,
       5.0600000e+06, 2.2500000e+08, 2.4700000e+07, 7.7000000e+06,
       1.9067328e+07, 5.1000000e+07, 1.1500000e+05, 5.4000000e+04,
       2.0000000e+04, 8.0314600e+05, 2.3800000e+05, 1.0220000e+07,
       1.0200000e+06, 1.2000000e+07, 1.3400000e+07, 1.7000000e+08,
       2.9000000e+06, 5.4300000e+05, 9.0000000e+07, 3.4000000e+06,
       2.3000000e+07, 8.0900000e+06, 1.0300000e+06, 5.0400000e+06,
       3.6000000e+05, 1.4000000e+06, 6.5000000e+05, 5.4000000e+07,
       4.2500000e+07, 1.1370000e+07, 3.2500000e+05, 4.1000000e+05,
       4.5000000e+05, 6.8200000e+05, 4.0500000e+06, 1.0500000e+06,
       1.0800000e+06, 4.3000000e+06, 6.8000000e+06, 2.1100000e+06,
       7.6400000e+05, 6.0300000e+05, 4.0900000e+05, 2.9200000e+05,
       2.8600000e+05, 1.3600000e+05, 5.4600000e+05, 8.8700000e+05,
       4.3000000e+04, 4.0900000e+04, 2.2000000e+06, 5.6600000e+06,
       3.5000000e+05, 1.1000000e+05, 1.2200000e+08, 1.1635000e+07,
       2.8000000e+06, 1.0650000e+06, 6.6900000e+05, 1.6076000e+07,
       6.4960000e+05, 6.7000000e+06, 2.2000000e+05, 2.6650000e+05,
       2.8790000e+06, 2.6500000e+07, 3.5100000e+05, 4.6761000e+07,
       1.7500000e+05, 1.1241000e+07, 8.0400000e+05, 1.3400000e+06,
       4.6700000e+05, 1.3300000e+05, 3.8230000e+06, 9.3400000e+05,
       2.9300000e+05, 1.9800000e+05, 9.2700000e+05, 9.7100000e+05,
       3.0600000e+06, 1.8620000e+06, 2.3200000e+05, 2.8880000e+06,
       1.3280000e+06, 1.5500000e+07, 5.6000000e+07, 2.2500000e+06,
       1.6753000e+07, 3.7000000e+06, 1.4700000e+06, 5.3000000e+05,
       2.6700000e+05, 3.3440000e+06, 7.2000000e+06, 2.7430000e+06,
       6.0820000e+06, 6.6090000e+06, 2.7700000e+07, 5.9400000e+06,
       3.9640000e+06, 5.5000000e+06, 1.9700000e+05, 4.3270000e+06,
       4.5900000e+05, 3.9370000e+06, 1.3135000e+06, 2.2980000e+05,
       5.3050000e+06, 2.6400000e+05, 1.7500000e+06, 5.9670000e+06,
       2.9800000e+06, 3.2300000e+05, 1.3260000e+06, 2.7000000e+07,
       5.2000000e+06, 2.5300000e+06, 7.9200000e+05, 1.1363000e+07,
       1.7150000e+06, 3.2900000e+05, 5.2710000e+06, 8.7000000e+06,
       3.2260000e+06, 5.9000000e+06, 4.4000000e+07, 3.8790000e+06,
       1.3000000e+07, 8.8000000e+06, 9.5000000e+06, 9.2000000e+05,
       3.5600000e+07, 9.4000000e+06, 7.9000000e+05, 4.8000000e+05,
       1.6000000e+05, 8.2000000e+06, 4.2570000e+06, 1.4100000e+06,
       3.4980000e+05, 7.8600000e+05, 2.0040000e+06, 1.2300000e+08,
       2.4800000e+05, 2.4000000e+07, 1.4259000e+07, 2.4500000e+07,
       3.8000000e+06, 1.8370000e+07, 6.8525000e+07, 4.8000000e+06,
       1.8340000e+06, 2.3850000e+07, 4.3000000e+07, 2.1600000e+07,
       4.5980000e+06, 1.3137000e+07, 1.1500000e+08, 3.9000000e+06,
       6.7000000e+05, 8.5000000e+06, 3.1480000e+06, 2.6000000e+06,
       4.0495000e+06, 1.0500000e+07, 6.5000000e+06, 4.3700000e+07,
       1.3800000e+07, 3.0690000e+05, 4.2000000e+05, 6.2730000e+05,
       1.1300000e+08, 3.2000000e+07, 1.1000000e+08, 1.3970000e+06,
       4.4850000e+05, 7.9757000e+06, 3.3000000e+05, 5.6000000e+06,
       1.4020000e+06, 2.1500000e+07, 2.9600000e+08, 4.9000000e+06,
       1.4024000e+06, 1.2618300e+07, 9.9000000e+06, 9.8253000e+05,
       7.0185200e+07, 2.1000000e+08, 8.4000000e+07, 3.9000000e+07,
       2.7000000e+06, 1.4034000e+06, 1.0500000e+08, 1.0300000e+08,
       2.8130000e+05, 1.2700000e+04, 2.5000000e+04, 9.7500000e+07,
       5.0700000e+05, 8.4000000e+06, 1.8300000e+07, 1.2500000e+08,
       1.8100000e+05, 2.8000000e+05, 1.4700000e+07, 1.3200000e+07,
       8.0430000e+06])

In [266]:
#query the 2021 startup funding data
query = "SELECT * FROM LP1_startup_funding2021"

data_2021 = pd.read_sql(query, connection)
data_2021.head(1)

c:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A

In [267]:
data_2021.Amount.unique()
data_2021.shape

(1209, 9)

In [268]:
#Checking the datatypes of the columns
datatypes = data_2021.dtypes
datatypes

Company_Brand     object
Founded          float64
HeadQuarter       object
Sector            object
What_it_does      object
Founders          object
Investor          object
Amount            object
Stage             object
dtype: object

In [269]:
data_2021[data_2021['Amount'].str.contains('$', na = False)]
data_2021['Amount']=data_2021.Amount.str.replace('\W', '', regex=True)
data_2021.head(2)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First",1200000,Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management",120000000,None

In [294]:
#combining the Stage and Amount columns since there are data entry errors
data_2021['new'] =  data_2021['Investor'].fillna('inv') +data_2021['Amount'].astype(str) + data_2021['Stage'].fillna('ab') 
#data_2021['new']

0          BEENEXT, Entrepreneur First1200000Pre-series A
1       Unilazer Ventures, IIFL Asset Management120000...
2        GSV Ventures, Westbridge Capital30000000Series D
3                  CDC Group, IDG Capital51000000Series C
4       Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal2...
5                                   Vy Capital188000000ab
6                               CIIE.CO, KIIT-TBI200000ab
7                Inflection Point VenturesnanPre-series A
8                                  Inflexor Venturesnanab
9                                            inv1000000ab
10      9Unicorns Accelerator Fund, Metaform Ventures9...
11      SucSEED Indovation, IIM Calcutta Innovation Pa...
12                         Safe Planet Medicare700000Seed
13                       Impact Partners, C4D Partners4ab
14      Tiger Global Management, InnoVen Capital9000000ab
15                          Novo Tellus Capital40000000ab
16              Raintree Family Office, ADB arm49000000ab
17            Inflection Point Ventures400000Pre-series A
18           Mumbai Angels, Narendra Shyamsukha300000Seed
19                   Paradigm, Kunal Shah25000000Series B
20            Matrix Partners India, GIC160000000Series E
21                   Chiratae Ventures, JAFCO AsiananSeed
22       Mumbai Angels Network, Expert DOJO150000Pre-seed
23                                GVFL1800000Pre-series A
24                      Kotak Mahindra Bank, FMO5000000ab
25                              Kalaari Capital850000Seed
26                   NB Ventures, IAN Fund3000000Series A
27      Sequoia Capital India, Hummingbird Ventures530...
28        Gaurav Munjal, Snehil Khanor2000000Pre-series A
29                     JITO Angel Network, SOSV500000Seed
30                                         inv1100000Seed
31      Chiratae Ventures, YourNest Venture Capital600...
32                                    STRIVE VC800000Seed
33                    Venture Catalysts500000Pre-series A
34                        Jaipuria Family Office1000000ab
35                                       Amazon10000000ab
36                                   Riso Capital500000ab
37                                   MTG Ventures200000ab
38             Qualcomm Ventures, Warburg Pincus6000000ab
39                                         9Unicorns9Seed
40                               Morgan Stanley21000000ab
41      Alfa Ventures, Agility Venture Partners100000Seed
42                                           inv1000000ab
43      Stellaris Venture Partners, Ramakant Sharma750...
44                                     Spanache100000Seed
45                                         inv1000000Seed
46                                          inv26000000ab
47      DSG Consumer Partners, Saama Capital1000000Ser...
48                      Hindustan Media Ventures7400000ab
49      Stellaris Venture Partners, Omidyar Network In...
50               Angelbay Holdings, Faad Network1500000ab
51            Alteria Capital, Chiratae Ventures3000000ab
52                WaterBridge Ventures, Info Edge600000ab
53              Carmignac, Falcon Edge Capital800000000ab
54                  Vaibhav Domkundwar, Kunal ShahnanSeed
55      Chiratae Ventures, Bharat Innovation Fund17000...
56      Acko Technology, Services, LetsVenture3500000P...
57      Bertelsmann India Investments, Fullerton Finan...
58      Dragoneer Investment Group, Tiger Global Manag...
59                                 http://100x.vc/100Seed
60      TPG Growth, Caisse de Depot et Placement du Qu...
61                  Centrum Financial Services2000000Seed
62                    Chiratae Ventures, BEENEXT5500000ab
63                                  Harsha Bhogle600000ab
64              GetVantage, Prakash KatamananPre-series A
65      Tiger Global Management, Y Combinator Continui...
66        Michael & Susan Dell Foundation26000000Series A
67                Marquee fintech foundersnanPre-series A
68      Falcon Edge India, Norwest Venture Partners110...
69               SOSV, Omphalos Ventures India3000000Seed
70              Twitter Ventures, Pawan Munjal500000000ab
71                                  CitiusTech1000000Seed
72      Arena Holdings, Think Investments65000000Series C
73                                    inv150000000000Debt
74                       T Choithrams BVI, Ardor6000000ab
75      Kogta Financial India Limited, ICICI Bank70000...
76                                          inv10000000ab
77      SucSEED Venture Partners, TMT Connekt700000Pre...
78              SAIF Partners, Venture Highway300000000ab
79                       Global Founders Capital2200000ab
80      JAFCO Asia, Chiratae Ventures35000000Pre-series A
81                              Y Combinator140000000Seed
82                           Artha Venture Fund200000Seed
83              Jitendra Gupta, Amrish Rau4000000Series A
84                       FJ Labs, Brian Norgard13000000ab
85                Indian Angel Network1100000Pre-series A
86                        Jitendra Gupta, Harsh Shahnanab
87                                      Y Combinatornanab
88         Elevation Partners, Emergent Ventures2000000ab
89                Kalaari Capital, Dream Capital2000000ab
90                                        Lumikai800000ab
91                         Matrix Partners India6000000ab
92                                        C4D Partners4ab
93                             Bertelsmann India9500000ab
94          Iron Pillar, Nordstar, Binny Bansal13000000ab
95                 FMC, Omnivore, Blume Ventures5000000ab
96                                    InvestCorp8000000ab
97                                           inv1000000ab
98             Pritesh Kumar, Bharat Gupta1200000$1200000
99              Y Combinator, 9Unicorns, Titan Capital9ab
100     Unicorn India Ventures, SEA Fund, Devdatt Shah...
101     Matrix Partners India, Elevation Capital120000...
102               Avaana Capital, Orios Ventures1500000ab
103                                  Punit Balan2000000ab
104     Y Combinator, Broom Ventures, Kunal Shah1700000ab
105     Skycatcher, AET Fund, BAce Capital, Dream Incu...
106                               Eclear Leasing1000000ab
107         Iron Pillar, Nordstar, Binny Bansal13000000ab
108          FMC, Omnivore, Blume Ventures5000000Series A
109                                   InvestCorp8000000ab
110                                inv1000000Pre-series A
111            Pritesh Kumar, Bharat Gupta1200000$1200000
112       Y Combinator, 9Unicorns, Titan Capital9Pre-seed
113     Unicorn India Ventures, SEA Fund, Devdatt Shah...
114     Matrix Partners India, Elevation Capital120000...
115             Avaana Capital, Orios Ventures1500000Seed
116                        Punit Balan2000000Pre-series A
117     Y Combinator, Broom Ventures, Kunal Shah1700000ab
118     Skycatcher, AET Fund, BAce Capital, Dream Incu...
119                               Eclear Leasing1000000ab
120                     First Cheque, Letsventure400000ab
121                                  inv150000000Series E
122             Sequoia Capital India, BEENEXT4000000Seed
123                                         Velocitynanab
124     Tribe Capital, Moore Strategic Ventures (MSV)1...
125                      Fireside Ventures6000000Series A
126        Inflection Point Ventures, ONGC1000000Series A
127          Y Combinator, Incubate Fund IndiananPre-seed
128     Titan Capital, Rockstud Capital,  John Abraham...
129                         Info Edge Ventures2000000Seed
130                                    NB VenturesnanSeed
131                                  Accel5500000Series A
132                         Binny Bansal, Kunal Shahnanab
133                                   TradeCred15000000ab
134                                          inv2000000ab
135                    Unicorn India Ventures500000Bridge
136         UC Inclusive Credit, Western Capital1000000ab
137     IIFL India Private Equity Fund, Smiti Holding ...
138                       Faering Capital40000000Series C
139     responsAbility Investments, Blue Orchard100000...
140      Sanchit Agarwal, Sujan Sinha, Michael Cookenanab
141          CRV, Nexus Venture Partners225000000Series D
142     Salesforce Ventures, Sierra Ventures, Sequoia ...
143              Micelio Fund, growX ventures1300000Seed+
144     IIFL Wealth, Asset Management, Northern Arc Ca...
145             Better Capital, Ashish Achrekar250000Seed
146                                            IANnanSeed
147                 Alpha Wave Incubation21000000Series A
148     Point One Capital, Yatra Angel Network (YAN), ...
149                                inv1200000Pre-series A
150                             Microsoft5000000Series F2
151          Shell Ventures, Yamaha, Kunal Shah52000000ab
152                             We Founder Circle400000ab
153     Saama Capital, DSG Consumer Partners, Sharrp V...
154              Tiger Global’s Scott Schleifer17500000ab
155                                         inv42000000ab
156                            Elevation Capital6000000ab
157                           Info Edge Ventures3800000ab
158                                        Accel2000000ab
159     Venture Catalysts, Auxano Capital, Venture Gar...
160                         Sixth Sense Ventures5000000ab
161           9Unicorns, Sequoia Capital India’s Surge9ab
162                      Anicut Angel Fund, 9 Unicorns9ab
163                        Info Edge, FalconEdge7000000ab
164          WestCap Group, Tomales Bay Capital30000000ab
165            Chiratae Ventures, Better Capital1000000ab
166              Siguler Guff, Baillie Gifford450000000ab
167                                              invnanab
168     IIFL AMC, Mankind Pharma Family Office, Aroa V...
169                      ITI Growth Opportunities300000ab
170                       Amrac Investment Trust3500000ab
171                                  Bhavin Turakhiananab
172                  Amara Raja Batteries8500000Series A+
173                      India Infoline Finance25000000ab
174                         Venture Highway500000Pre-seed
175                     BEENEXT, Orios1700000Pre-series A
176                                     Axilor3500000Seed
177     Westbridge Capital, Tanglin Venture Partners25...
178     100X.VC﻿,﻿ Titan Capital, Rahul Mathur, Gaurav...
179                          Venture Catalysts1000000Seed
180     IIFL, Amicus Capital, Ananta Capital12000000Se...
181                                        inv225000000ab
182       Venture Highway, Endiya Partners3000000Series A
183     Verlinvest, Sequoia Capital India37000000Series A
184                  Anicut Angel Fund2000000Pre-series B
185                   Sixth Sense Ventures2000000Series A
186                         Tiger Global370000000Series E
187     Alphabit Fund, Fulgur Ventures, Stacks Acceler...
188      Roots Ventures, Velo Partners5000000Pre-series A
189                Nexus Venture Partners16000000Series A
190                                inv2000000Pre-series A
191     Mumbai Angels Network, Huddle, Lumis Partners5...
192                        SucSEED Indovation FundnanSeed
193     Potencia Ventures, Bisk Ventures, LetsVenture,...
194     Better Capital, First Cheque, Titan Capital200...
195                     Evolvence Capital10000000Series C
196                                        inv2000000Seed
197                                     SARA ELGI100000ab
198     Nubank, Global Founders Capital, Sequoia Capit...
199                    SucSEED Indovation Fund1000000Seed
200            ah! Ventures High Tables500000Pre-series A
201     Eight Roads Ventures, Think Investments, Manke...
202                                A91 Partners91Series C
203                      Chiratae Ventures1700000Series A
204                            Sequoia’s Surge3500000Seed
205     Lead Angels, Titan Capital, Pravega Ventures30...
206     Accel Partners, Elevation Capital20000000Series A
207     Inflection Point Ventures, Rockstud Capital, F...
208          Anicut Angel Fund, Axilor Ventures770000Seed
209                Ecosystem Ventures, CMM group1200000ab
210            Mumbai Angels Network, Social AlphananSeed
211                         Tiger Global125000000Series D
212                      Disrupt ADQ, QIC35000000Series B
213                                Tiger Global40000000ab
214           Valar Ventures, IA Ventures40000000Series B
215                                         inv50000000ab
216                  Sequoia Capital India4900000Series A
217                                     Zomato145000000ab
218     Lightspeed, Times Group, Tanglin Venture Partn...
219                           Venture Catalysts10000000ab
220     Binny Bansal, Deep Kalra, Dr Ashish Gupta, Gok...
221     Tuscan Ventures, Ohm Stock Brokers, Artha Vent...
222                  Signal Peak Ventures10000000Series A
223            Evolvence, Hero Enterprise70000000Series D
224                         Tiger Global100000000Series D
225       BlueOrchard Impact Investment Managers6700000ab
226                     Steadview Capital30000000Series D
227                    MassMutual Ventures7000000Series A
228                        YourNest VC5000000Pre-series A
229                            Accel India6600000Series A
230     Vijay Shekhar Sharma, Ritesh Agarwal, Ankiti B...
231                      TVS Motor, Zoho150000000Series C
232                 IIFL Asset Management24000000Series E
233                   Inflection Point Ventures700000Seed
234     Oasis Capital, Scorpio VC, DeltaHub Capitalnan...
235     Titan Capital, Haresh Chawla, AngelList Syndic...
236                        9Unicorns, Ashneer Grover9Seed
237                  Anicut Angel Fund1300000Pre-series A
238              Founders Room Capital1000000Pre-series A
239                           9Unicorns, ZNL9Pre-series A
240                                           inv500000ab
241                                WEH Ventures461000Seed
242                                   $2200000022000000ab
243                            Accel India6600000Series A
244     Vijay Shekhar Sharma, Ritesh Agarwal, Ankiti B...
245                      TVS Motor, Zoho150000000Series C
246                 IIFL Asset Management24000000Series E
247                   Inflection Point Ventures700000Seed
248     Oasis Capital, Scorpio VC, DeltaHub Capitalnan...
249     Titan Capital, Haresh Chawla, AngelList Syndic...
250                        9Unicorns, Ashneer Grover9Seed
251                  Anicut Angel Fund1300000Pre-series A
252              Founders Room Capital1000000Pre-series A
253                           9Unicorns, ZNL9Pre-series A
254                                           inv500000ab
255                                WEH Ventures461000Seed
256                                   $2200000022000000ab
257                                     $50000005000000ab
258     Kunal Shah, Deepinder Goyal, Abhiraj Singh Bha...
259     Guild Capital, RPSG Capital Ventures5000000Ser...
260     General Catalyst, Eight Roads Ventures, Elevat...
261              NB Ventures, Earlsfield Capital5000000ab
262               Varun Alagh, Sahil Barua4000000Series A
263                  Sixth Sense Ventures32000000Series A
264               SoftBank Vision Fund 2260000000Series C
265     Tribe Capital, Prime Venture Partners7000000Se...
266                             Jungle Ventures20000000ab
267     Marquee international institutional investors5...
268                       Alkeon Capital266000000Series G
269           Y Combinator, Harvard Management4500000Seed
270            Y Combinator﻿, ﻿Goodwater Capital1200000ab
271             Shrishti Sahu, Umang Vohra4000000Pre-seed
272                 Astra Ventures, Gaurav Jaitly300000ab
273         Capital A, Collective Artists Network200000ab
274              Aditya Singhal, Nishant Sinha9500000Seed
275                        Pentathlon Ventures1200000Seed
276     Alpha Wave Ventures II, Tiger Global Managemen...
277                         Tiger Global100000000Series D
278                                KRAFTON6500000Series A
279     Chiratae Ventures, Lenskart Vision Fund4000000...
280                                   Recur Club1600000ab
281                             DevX Venture Fund150000ab
282         DevX Venture Fund, Blume Founder Fund400000ab
283                            Ajith Daneil225000Pre-seed
284                               Aurum Proptech5000000ab
285                               Y-Combinator100000000ab
286                        The Good Glamm Group10000000ab
287                                 Invus85000000Series C
288         Tiger Global, Prosus Ventures40000000Series B
289             Shuru Up, Ankit Kedia, Arun Gupta200000ab
290        Ankit Mehrotra, Saurabh Aggarwal235000Pre-seed
291                                Sauce.vc260000Pre-seed
292          3one4 Capital, Sixth Sense Ventures3Series A
293                                A91 Partners91Series A
294     YCombinator, Justin Mateen, Pioneer Fund290000...
295     Sojitz Corporation, Stride Ventures12000000Pre...
296     IIFL Wealth, TPG Growth, Norwest Venture Partn...
297            Nabventures, Avaana Capital3500000Series A
298      Fluid Ventures, Mulberry Silks700000Pre-series A
299                             Rajesh Rajendran3000000ab
300               Mike Novogratz, Neeraj Arora1000000Seed
301                          Reliance Digital Healthnanab
302                                        inv3000000Seed
303                          We Founder Circle1100000Seed
304                        Ritu Marya Family Office.nanab
305                                     Ten Innovatenanab
306         Tiger Global, Sequoia Capital86000000Series C
307                              Shark Tank India130000ab
308                            We Founder Circle10000Seed
309     Premji Invest, Steadview Capital111000000Series B
310                                     Sequoia37000000ab
311                  Apis Insurtech Fund I6000000Series B
312                    SK Tripathi, Sanjeev Gupta265000ab
313                          Hardcastle Petrofer1000000ab
314             Ocean View Investment, QED Fund76000000ab
315     Omidyar Network, Tencent Holdings30000000Series B
316     ITI Growth Opportunities Fund, Unit-E Ventures...
317     InnoVen Capital, Nexus Venture Partners1000000...
318                                       CIIE.CO200000ab
319                         Orios Venture PartnersnanSeed
320                      Omidyar Network India2000000Seed
321                        Wipro venture capital armnanab
322     Yuj Ventures, Sixth Sense Ventures4000000Series B
323     Premji Invest, Mirae Asset Naver Asia Growth F...
324     Inflection Point Ventures, SucSEED Venture Par...
325         Anas Rahman Junaid, Vinod JosenanPre-series A
326               Capital One, Arrowroot Capital3800000ab
327                   YourNest Venture Capital1500000Seed
328                 Incubate Fund India800000Pre-series A
329                     Kunal Shah, Greg Kidd15000000Seed
330                  InnoVen Capital, TEAMFund3000000Debt
331     Venture Catalysts, 9Unicorns Accelerator Fund9...
332              Venture Highway, Rohit Bansal1000000Seed
333                                        inv100000000ab
334     Venture Catalysts, 9Unicorns Accelerator Fund9...
335         Fresco Capital, Social Starts12000000Series A
336                  Y Combinator, Rebright Partnersnanab
337           Rohit Goutamchand, India CXO Fund100000Seed
338     Rajasthan Venture Capital Fund, ACPL Exports16...
339              Amplo, Insight Partners100000000Series D
340                          Better Capital260000Pre-seed
341                              Justin Mateen2000000Seed
342                 View Trade Holding Corp300000Pre-seed
343     InnoVen Capital, Bertelsmann India Investments...

In [271]:
data_2021['Amount_new']=data_2021['new'].str.extract('(\d+)')
data_2021.head(1)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,new,Amount_new
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First",1200000,Pre-series A,"BEENEXT, Entrepreneur First1200000Pre-series A",1200000

In [272]:
#Removing the dollar symbol from the 2021 amount
data_2021.drop(columns=['new','Amount'],inplace=True)

In [273]:
data_2021.head(2)
data_2021['Investment_year'] = '2021'

In [274]:
#Renaming the Amount_new column
data_2021.rename(columns={'Amount_new':'Amount'}, inplace=True)

#2021 data cleaned

In [275]:
#Reading 2018 data from the csv files

data_2018=pd.read_csv('startup_funding_2018_2019\startup_funding2018.csv')
data_2018.head(5)

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [276]:
#Changing column names of 2018 data to match all other datasets
data_2018.rename(columns={'Company Name':'Company_Brand','Industry':'Sector', 'Round/Series':'Stage', 'Location':'HeadQuarter', 'About Company':'What_it_does'}, inplace=True)
data_2018.head(5)

,Company_Brand,Sector,Stage,Amount,HeadQuarter,What_it_does
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [277]:
def curr_converter(df,rate):
    amount_new=[]
    for a in df:
        if a.startswith('$'):
            
            amount_new.append(a.split('$')[1].replace(',',''))
        elif a.startswith('₹'): 
            
            amount_new.append(float((a.split('₹')[1]).replace(',',''))/rate )  
        else :
            amount_new.append(a)    
    return amount_new

In [278]:
#Removing the Lahk symbol
exch_rate= 158.38
amount_list=data_2018.Amount.tolist()
amount_new=curr_converter(amount_list,exch_rate)
data_2018['Amount']=amount_new
data_2018['Investment_year'] = '2018'

In [279]:
#Reading 2019 data from the csv files
data_2019=pd.read_csv('startup_funding_2018_2019\startup_funding2019.csv')
data_2019.head(5)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [280]:
#Changing column names of 2019 data to match all other datasets
data_2019.rename(columns={'Company/Brand':'Company_Brand', 'What it does':'What_it_does', 'Amount($)':'Amount'}, inplace=True)
data_2019.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')

In [281]:
#Removing the Lahk symbol
exch_rate= 177.13
amount_list=data_2019.Amount.tolist()
amount_new=curr_converter(amount_list,exch_rate)
data_2019['Amount']=amount_new
data_2019['Investment_year'] = '2019'

### Merging datasets

In [282]:
#Concating 2020 and 2021 data since they have a similar structure
pd.set_option('display.max_rows', None)
final_df = pd.concat([data_2021,data_2020,data_2019,data_2018],axis=0,ignore_index=True)
final_df.head(5)
final_df.shape

(2879, 11)

In [283]:
#Saving the combined dataset to xlsx
final_df.to_csv("startup_funding_2018_2019\combined.csv",index=False
             )

# Data Cleaning & Exploration

In [284]:
#Considering the columns of interest and reindexing
df= pd.read_csv('startup_funding_2018_2019\combined.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Company_Brand    2879 non-null   object
 1   Founded          2110 non-null   float64
 2   HeadQuarter      2765 non-null   object
 3   Sector           2861 non-null   object
 4   What_it_does     2879 non-null   object
 5   Founders         2334 non-null   object
 6   Investor         2253 non-null   object
 7   Stage            1941 non-null   object
 8   Amount           2494 non-null   object
 9   Investment_year  2879 non-null   int64
 10  column10         2 non-null      object
dtypes: float64(1), int64(1), object(9)
memory usage: 247.5+ KB

In [285]:
df.shape

(2879, 11)

#Merging the removed symbols with the original dataset
#f_df = pd.concat([df,dollar_investment,lahk_investment],axis=0,ignore_index=True)
f_df.shape

#Dropping duplicates from the original dataset to maintain the 'removed symbols' rows
f_df.drop_duplicates(subset=['Stage','Founded','Founders','Company_Brand','HeadQuarter','Investor','Sector','What_it_does','column10'],  keep='last', inplace=True, ignore_index=False)
f_df.shape

In [295]:
#split HQ column into two columns
df[['Town', 'Other']] = df['HeadQuarter'].str.split(',', 1, expand=True)
df[['City', 'Country']] = df['Other'].str.split(',', 1, expand=True)
#df

In [300]:
# Function to fill new column based on conditions
def fill_new_column(row):
    if row['Town'] != '':
        return row['Town']
    else:
        return row['City']
    
# Create a new column filled with values from one column or default value if empty
df['Headquarter_City'] = df.apply(fill_new_column, axis=1)    

df.head(2)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Stage,Amount,Investment_year,column10,City,Country,Town,Other,NewColumn,Headquarter_City
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First",Pre-series A,1200000,2021,NaN,None,None,Bangalore,None,Bangalore,Bangalore
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management",NaN,120000000,2021,NaN,None,None,Mumbai,None,Mumbai,Mumbai

In [ ]:
#Mapping the diffent sectors

In [288]:
for m in am:
    v=str(m)
    if v.startswith('₹'):
        b=v.split("₹")[1]

        
        print(b)

NameError: name 'am' is not defined

In [ ]:
#Not done yet
final_df.query('Stage==["$6000000","$300000","$1000000"]')

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
538,Little Leap,2020.0,New Delhi,EdTech,Soft Skills that make Smart Leaders,Holistic Development Programs for children in ...,Vishal Gupta,ah! Ventures,$300000,NaN
551,BHyve,2020.0,Mumbai,Human Resources,A Future of Work Platform for diffusing Employ...,Backed by 100x.VC,"Omkar Pandharkame, Ketaki Ogale","ITO Angel Network, LetsVenture",$300000,NaN
674,MYRE Capital,2020.0,Mumbai,Commercial Real Estate,Democratising Real Estate Ownership,Own rent yielding commercial properties,Aryaman Vir,None,$6000000,NaN
677,Saarthi Pedagogy,2015.0,Ahmadabad,EdTech,"India's fastest growing Pedagogy company, serv...",Pedagogy,Sushil Agarwal,"JITO Angel Network, LetsVenture",$1000000,NaN

In [ ]:
final_df.What_it_does.unique()

array(['Unbox Robotics builds on-demand AI-driven warehouse robotics solutions, which can be deployed using limited foot-print, time, and capital.',
       'UpGrad is an online higher education platform.',
       'LEAD School offers technology based school transformation system that assures excellent learning for every child.',
       ...,
       'Mombay is a unique opportunity for housewives to start household food business and avail everyone with their homemade healthy dishes.',
       'Droni Tech manufacture UAVs and develop software to service a range of industry requirements.',
       "Welcome to India's most convenient pharmacy!"], dtype=object)

In [ ]:
final_df.HeadQuarter.unique()

array(['Bangalore', 'Mumbai', 'Gurugram', 'New Delhi', 'Hyderabad',
       'Jaipur', 'Ahmadabad', 'Chennai', None,
       'Small Towns, Andhra Pradesh', 'Goa', 'Rajsamand', 'Ranchi',
       'Faridabad, Haryana', 'Gujarat', 'Pune', 'Thane', 'Computer Games',
       'Cochin', 'Noida', 'Chandigarh', 'Gurgaon', 'Vadodara',
       'Food & Beverages', 'Pharmaceuticals\t#REF!', 'Gurugram\t#REF!',
       'Kolkata', 'Ahmedabad', 'Mohali', 'Haryana', 'Indore', 'Powai',
       'Ghaziabad', 'Nagpur', 'West Bengal', 'Patna', 'Samsitpur',
       'Lucknow', 'Telangana', 'Silvassa', 'Thiruvananthapuram',
       'Faridabad', 'Roorkee', 'Ambernath', 'Panchkula', 'Surat',
       'Coimbatore', 'Andheri', 'Mangalore', 'Telugana', 'Bhubaneswar',
       'Kottayam', 'Beijing', 'Panaji', 'Satara', 'Orissia', 'Jodhpur',
       'New York', 'Santra', 'Mountain View, CA', 'Trivandrum',
       'Jharkhand', 'Kanpur', 'Bhilwara', 'Guwahati',
       'Online Media\t#REF!', 'Kochi', 'London',
       'Information Technology & Services', 'The Nilgiris', 'Gandhinagar',
       'Belgaum', 'Tirunelveli, Tamilnadu', 'Singapore', 'Kerala',
       'Jaipur, Rajastan', 'Delhi', 'Frisco, Texas, United States',
       'California', 'Dhingsara, Haryana', 'New York, United States',
       'San Francisco, California, United States',
       'San Francisco, United States', 'San Ramon, California',
       'Paris, Ile-de-France, France', 'Plano, Texas, United States',
       'Sydney', 'San Francisco Bay Area, Silicon Valley, West Coast',
       'Bangaldesh', 'London, England, United Kingdom',
       'Sydney, New South Wales, Australia', 'Milano, Lombardia, Italy',
       'Palmwoods, Queensland, Australia', 'France',
       'San Francisco Bay Area, West Coast, Western US',
       'Trivandrum, Kerala, India', 'Samastipur, Bihar',
       'Irvine, California, United States', 'Tumkur, Karnataka',
       'Newcastle Upon Tyne, Newcastle upon Tyne, United Kingdom',
       'Shanghai, China', 'Jiaxing, Zhejiang, China', 'Rajastan',
       'Ludhiana', 'Dehradun', 'San Franciscao', 'San Francisco',
       'Tangerang, Jawa Barat, Indonesia', 'Berlin', 'Seattle', 'Riyadh',
       'Seoul', 'Bangkok', 'Warangal', 'Hyderebad', 'Odisha', 'Bihar',
       'Tamil Nadu', 'Uttar Pradesh', 'Bhopal', 'Banglore', 'Bengaluru',
       nan, 'Uttar pradesh', 'Rajasthan', 'Bangalore, Karnataka, India',
       'Mumbai, Maharashtra, India', 'Gurgaon, Haryana, India',
       'Noida, Uttar Pradesh, India', 'Hyderabad, Andhra Pradesh, India',
       'Bengaluru, Karnataka, India', 'Kalkaji, Delhi, India',
       'Delhi, Delhi, India', 'India, Asia', 'Hubli, Karnataka, India',
       'New Delhi, Delhi, India', 'Chennai, Tamil Nadu, India',
       'Mohali, Punjab, India', 'Kolkata, West Bengal, India',
       'Pune, Maharashtra, India', 'Jodhpur, Rajasthan, India',
       'Kanpur, Uttar Pradesh, India', 'Ahmedabad, Gujarat, India',
       'Azadpur, Delhi, India', 'Haryana, Haryana, India',
       'Cochin, Kerala, India', 'Faridabad, Haryana, India',
       'Jaipur, Rajasthan, India', 'Kota, Rajasthan, India',
       'Anand, Gujarat, India', 'Bangalore City, Karnataka, India',
       'Belgaum, Karnataka, India', 'Thane, Maharashtra, India',
       'Margão, Goa, India', 'Indore, Madhya Pradesh, India',
       'Alwar, Rajasthan, India', 'Kannur, Kerala, India',
       'Ernakulam, Kerala, India', 'Kormangala, Karnataka, India',
       'Uttar Pradesh, India, Asia', 'Andheri, Maharashtra, India',
       'Mylapore, Tamil Nadu, India', 'Ghaziabad, Uttar Pradesh, India',
       'Kochi, Kerala, India', 'Powai, Assam, India',
       'Guntur, Andhra Pradesh, India', 'Kalpakkam, Tamil Nadu, India',
       'Bhopal, Madhya Pradesh, India', 'Coimbatore, Tamil Nadu, India',
       'Worli, Maharashtra, India', 'Alleppey, Kerala, India',
       'Chandigarh, Chandigarh, India', 'Guindy, Tamil Nadu, India',
       'Lucknow, Uttar Pradesh, India'], dtype=object)

In [ ]:
final_df.Founders.unique()

array(['Pramod Ghadge, Shahid Memon',
       'Mayank Kumar, Phalgun Kompalli, Ravijot Chugh, Ronnie Screwvala',
       'Smita Deorah, Sumeet Mehta', ..., 'Pavan Kushwaha',
       'Jeevan Chowdary M, Harshit Harchani',
       'Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mohit Gupta'],
      dtype=object)

In [ ]:
final_df.Investor.unique()

array(['BEENEXT, Entrepreneur First',
       'Unilazer Ventures, IIFL Asset Management',
       'GSV Ventures, Westbridge Capital', ...,
       'Norwest Venture Partners, General Catalyst, Fundamentum, Accel Partners',
       'TPG, Norwest Venture Partners, Evolvence India', nan],
      dtype=object)

In [ ]:
test

for row in test.index:
    print(row)
    row_list = test.loc[row, :].values.flatten().tolist()
    row_list
#row_list = test.loc[98, :].values.flatten().tolist()

98
111
257
1148

In [ ]:
row_list

['Godamwale',
 2016.0,
 'Mumbai',
 'Logistics & Supply Chain',
 'Godamwale is tech enabled integrated logistics company providing end to end supply chain solutions.',
 'Basant Kumar, Vivek Tiwari, Ranbir Nandan',
 '1000000\t#REF!',
 'Seed',
 None]

In [ ]:

for i in row_list:
    # Remove letters using string manipulation
    
    if isinstance(i, str):
       s = ''.join(filter(str.isdigit, i))
      
       
    else: 
       pass  
print(row_list)

['Godamwale', 2016.0, 'Mumbai', 'Logistics & Supply Chain', 'Godamwale is tech enabled integrated logistics company providing end to end supply chain solutions.', 'Basant Kumar, Vivek Tiwari, Ranbir Nandan', '1000000\t#REF!', 'Seed', None]